/*
	
	cols.fab 0.6
	
*/


/* --- VARS --- */

// Max cols number
$colnb: 8;

// Container max-width
$mw: 1200;

// Widths
$widths: w20 20%, w25 25%, w30 30%, w33 33.33%, w40 40%, w50 50%, w60 60%, w66 66.66%, w70 70%, w75 75%, w80 80%;

// Var by breakpoint: class; breakpoint width; margin-left; margin-bottom; widths classes;
$breakpoints:full 3000 3% 40px $widths, bp1 1024 3% 3vw $widths, bp2 768 3 40 $widths, bp3 568 3 40 $widths, bp4 480px 3 40 $widths;



/* --- CLASSES --- */

.cols {
  display: flex;
}
[class*='cols-'] {
	flex-wrap: wrap;
}

// Basic widths class
@each $width in $widths {
  $wclass: nth($width, 1);
  $wvalue: nth($width, 2);
  .#{$wclass} {
    width: $wvalue;
  }
}

// Breakpoints
@each $breakpoint in $breakpoints {
  
  $bpclass: nth($breakpoint, 1);
  $bpvalue: nth($breakpoint, 2);
  $bpm: nth($breakpoint, 3);
  $bpmb: nth($breakpoint, 4);
  $bpwidths: nth($breakpoint, 5);
  
  @media all and (max-width: #{$bpvalue}px) {
    
    // Margins
    .cols.colsm > .col+.col { margin-left: $bpm; }
    // Add margin-bottom to .colsm
    .cols.colsm > .col { margin-bottom: $bpmb; }
    
    //Cols w/ the same width w/o margin
    @for $i from 1 through $colnb {
      .cols-#{$i}-#{$bpclass} > .col,
    	.colsd > .col:first-child:nth-last-child(#{$i}),
    	.colsd > .col:first-child:nth-last-child(#{$i}) ~ .col {
    	  width: ((100% / $i));
    	}
    	//Custom col width
    	@each $width in $bpwidths {
    	  $wclass: nth($width, 1);
    	  $wvalue: nth($width, 2);
    	  .cols-#{$i}-#{$bpclass} > .col.#{$wclass} {
    	    width: $wvalue;
    	  }
    	}
    }
    
    //Cols w/ the same width w/ margin
    @for $i from 1 through $colnb {
      .cols-#{$i}-#{$bpclass}.colsm > .col,
    	.colsd.colsm > .col:first-child:nth-last-child(#{$i}),
    	.colsd.colsm > .col:first-child:nth-last-child(#{$i}) ~ .col {
    	  width: (((100% / $i) - (($bpm*($i - 1)) / $i)) - 0.1);
    	}
    	//Custom col width
    	@each $width in $bpwidths {
    	  $wclass: nth($width, 1);
    	  $wvalue: nth($width, 2);
    	  .cols-#{$i}-#{$bpclass}.colsm > .col.#{$wclass} {
    	    width: ($wvalue - (($bpm*($i - 1)) / $i) - 0.1);
    	  }
    	}
    	.cols-#{$i}-#{$bpclass}.colsm > .col:nth-child(#{$i}n+1) {
    	  margin-left: 0;
    	}
    }

  }
 
}