/* --- VARS --- */
//Margin 
$m: 3%;
//Max cols number
$colnb: 8;
//Widths
$widths: w20 20%, w25 25%, w30 30%, w33 33.33%, w40 40%, w50 50%, w60 60%, w66 66.66%, w75 75%, w80 80%;

@each $width in $widths {
  $wclass: nth($width, 1);
  $wvalue: nth($width, 2);
  .#{$wclass} {
    width: $wvalue;
  }
}

.cols {
  display: flex;
}
[class*='cols-'] {
	flex-wrap: wrap;
}
.cols.colsm > .col+.col { margin-left: $m; }

//Cols w/ the same width w/o margin
@for $i from 1 through $colnb {
  .cols-#{$i} > .col,
	.colsd > .col:first-child:nth-last-child(#{$i}),
	.colsd > .col:first-child:nth-last-child(#{$i}) ~ .col {
	  width: ((100% / $i));
	}
	//Custom col width
	@each $width in $widths {
	  $wclass: nth($width, 1);
	  $wvalue: nth($width, 2);
	  .cols-#{$i} > .col.#{$wclass} {
	    width: $wvalue;
	  }
	}
}

//Cols w/ the same width w/ margin
@for $i from 1 through $colnb {
  .cols-#{$i}.colsm > .col,
	.colsd.colsm > .col:first-child:nth-last-child(#{$i}),
	.colsd.colsm > .col:first-child:nth-last-child(#{$i}) ~ .col {
	  width: ((100% / $i) - (($m*($i - 1)) / $i));
	}
	//Custom col width
	@each $width in $widths {
	  $wclass: nth($width, 1);
	  $wvalue: nth($width, 2);
	  .cols-#{$i}.colsm > .col.#{$wclass} {
	    width: $wvalue - (($m*($i - 1)) / $i);
	  }
	}
	.cols-#{$i}.colsm > .col:nth-child(#{$i}n+1) {
	  margin-left: 0;
	}
}

//Add margin-bottom to .colsm
@for $i from 1 through $colnb {
	.cols-#{$i}.colsm > .col {
	  margin-bottom: $m;
	}	
}