/*
	
	cols.fab 0.8.2
	
*/
/* --- VARS --- */
/* --- CLASSES --- */
.cols {
  display: flex; }

[class*='cols-'] {
  flex-wrap: wrap; }

.col {
  position: relative;
  box-sizing: border-box; }

@media all and (max-width: 5000px) {
  .w20-full {
    width: 20%; }

  .w25-full {
    width: 25%; }

  .w30-full {
    width: 30%; }

  .w33-full {
    width: 33.33%; }

  .w40-full {
    width: 40%; }

  .w50-full {
    width: 50%; }

  .w60-full {
    width: 60%; }

  .w66-full {
    width: 66.66%; }

  .w70-full {
    width: 70%; }

  .w75-full {
    width: 75%; }

  .w80-full {
    width: 80%; }

  .w100-full {
    width: 100%; }

  .cols.colsm > .col + .col {
    margin-left: 2.34375%;
    margin-top: 2.34375vw; }

  .cols.colsm[class*='colsd-'] > .col + .col {
    margin-top: 0; }

  .cols-1-full > .col,
  .colsd-full > .col:first-child:nth-last-child(1),
  .colsd-full > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-full > .col.w20-full {
    width: 20%; }

  .cols-1-full > .col.w25-full {
    width: 25%; }

  .cols-1-full > .col.w30-full {
    width: 30%; }

  .cols-1-full > .col.w33-full {
    width: 33.33%; }

  .cols-1-full > .col.w40-full {
    width: 40%; }

  .cols-1-full > .col.w50-full {
    width: 50%; }

  .cols-1-full > .col.w60-full {
    width: 60%; }

  .cols-1-full > .col.w66-full {
    width: 66.66%; }

  .cols-1-full > .col.w70-full {
    width: 70%; }

  .cols-1-full > .col.w75-full {
    width: 75%; }

  .cols-1-full > .col.w80-full {
    width: 80%; }

  .cols-1-full > .col.w100-full {
    width: 100%; }

  .cols-2-full > .col,
  .colsd-full > .col:first-child:nth-last-child(2),
  .colsd-full > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-full > .col.w20-full {
    width: 20%; }

  .cols-2-full > .col.w25-full {
    width: 25%; }

  .cols-2-full > .col.w30-full {
    width: 30%; }

  .cols-2-full > .col.w33-full {
    width: 33.33%; }

  .cols-2-full > .col.w40-full {
    width: 40%; }

  .cols-2-full > .col.w50-full {
    width: 50%; }

  .cols-2-full > .col.w60-full {
    width: 60%; }

  .cols-2-full > .col.w66-full {
    width: 66.66%; }

  .cols-2-full > .col.w70-full {
    width: 70%; }

  .cols-2-full > .col.w75-full {
    width: 75%; }

  .cols-2-full > .col.w80-full {
    width: 80%; }

  .cols-2-full > .col.w100-full {
    width: 100%; }

  .cols-3-full > .col,
  .colsd-full > .col:first-child:nth-last-child(3),
  .colsd-full > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-full > .col.w20-full {
    width: 20%; }

  .cols-3-full > .col.w25-full {
    width: 25%; }

  .cols-3-full > .col.w30-full {
    width: 30%; }

  .cols-3-full > .col.w33-full {
    width: 33.33%; }

  .cols-3-full > .col.w40-full {
    width: 40%; }

  .cols-3-full > .col.w50-full {
    width: 50%; }

  .cols-3-full > .col.w60-full {
    width: 60%; }

  .cols-3-full > .col.w66-full {
    width: 66.66%; }

  .cols-3-full > .col.w70-full {
    width: 70%; }

  .cols-3-full > .col.w75-full {
    width: 75%; }

  .cols-3-full > .col.w80-full {
    width: 80%; }

  .cols-3-full > .col.w100-full {
    width: 100%; }

  .cols-4-full > .col,
  .colsd-full > .col:first-child:nth-last-child(4),
  .colsd-full > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-full > .col.w20-full {
    width: 20%; }

  .cols-4-full > .col.w25-full {
    width: 25%; }

  .cols-4-full > .col.w30-full {
    width: 30%; }

  .cols-4-full > .col.w33-full {
    width: 33.33%; }

  .cols-4-full > .col.w40-full {
    width: 40%; }

  .cols-4-full > .col.w50-full {
    width: 50%; }

  .cols-4-full > .col.w60-full {
    width: 60%; }

  .cols-4-full > .col.w66-full {
    width: 66.66%; }

  .cols-4-full > .col.w70-full {
    width: 70%; }

  .cols-4-full > .col.w75-full {
    width: 75%; }

  .cols-4-full > .col.w80-full {
    width: 80%; }

  .cols-4-full > .col.w100-full {
    width: 100%; }

  .cols-5-full > .col,
  .colsd-full > .col:first-child:nth-last-child(5),
  .colsd-full > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-full > .col.w20-full {
    width: 20%; }

  .cols-5-full > .col.w25-full {
    width: 25%; }

  .cols-5-full > .col.w30-full {
    width: 30%; }

  .cols-5-full > .col.w33-full {
    width: 33.33%; }

  .cols-5-full > .col.w40-full {
    width: 40%; }

  .cols-5-full > .col.w50-full {
    width: 50%; }

  .cols-5-full > .col.w60-full {
    width: 60%; }

  .cols-5-full > .col.w66-full {
    width: 66.66%; }

  .cols-5-full > .col.w70-full {
    width: 70%; }

  .cols-5-full > .col.w75-full {
    width: 75%; }

  .cols-5-full > .col.w80-full {
    width: 80%; }

  .cols-5-full > .col.w100-full {
    width: 100%; }

  .cols-6-full > .col,
  .colsd-full > .col:first-child:nth-last-child(6),
  .colsd-full > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-full > .col.w20-full {
    width: 20%; }

  .cols-6-full > .col.w25-full {
    width: 25%; }

  .cols-6-full > .col.w30-full {
    width: 30%; }

  .cols-6-full > .col.w33-full {
    width: 33.33%; }

  .cols-6-full > .col.w40-full {
    width: 40%; }

  .cols-6-full > .col.w50-full {
    width: 50%; }

  .cols-6-full > .col.w60-full {
    width: 60%; }

  .cols-6-full > .col.w66-full {
    width: 66.66%; }

  .cols-6-full > .col.w70-full {
    width: 70%; }

  .cols-6-full > .col.w75-full {
    width: 75%; }

  .cols-6-full > .col.w80-full {
    width: 80%; }

  .cols-6-full > .col.w100-full {
    width: 100%; }

  .cols-1-full.colsm > .col,
  .colsd-full.colsm > .col:first-child:nth-last-child(1),
  .colsd-full.colsm > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-full.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-full.colsm > .col.w20-full {
    width: 20%; }

  .cols-1-full.colsm > .col.w25-full {
    width: 25%; }

  .cols-1-full.colsm > .col.w30-full {
    width: 30%; }

  .cols-1-full.colsm > .col.w33-full {
    width: 33.33%; }

  .cols-1-full.colsm > .col.w40-full {
    width: 40%; }

  .cols-1-full.colsm > .col.w50-full {
    width: 50%; }

  .cols-1-full.colsm > .col.w60-full {
    width: 60%; }

  .cols-1-full.colsm > .col.w66-full {
    width: 66.66%; }

  .cols-1-full.colsm > .col.w70-full {
    width: 70%; }

  .cols-1-full.colsm > .col.w75-full {
    width: 75%; }

  .cols-1-full.colsm > .col.w80-full {
    width: 80%; }

  .cols-1-full.colsm > .col.w100-full {
    width: 100%; }

  .cols-1-full.colsm > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-full.colsm > .col,
  .colsd-full.colsm > .col:first-child:nth-last-child(2),
  .colsd-full.colsm > .col:first-child:nth-last-child(2) ~ .col {
    width: 48.82813%; }

  .cols-2-full.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-full.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-full.colsm > .col.w20-full {
    width: 18.82813%; }

  .cols-2-full.colsm > .col.w25-full {
    width: 23.82813%; }

  .cols-2-full.colsm > .col.w30-full {
    width: 28.82813%; }

  .cols-2-full.colsm > .col.w33-full {
    width: 32.15813%; }

  .cols-2-full.colsm > .col.w40-full {
    width: 38.82813%; }

  .cols-2-full.colsm > .col.w50-full {
    width: 48.82813%; }

  .cols-2-full.colsm > .col.w60-full {
    width: 58.82813%; }

  .cols-2-full.colsm > .col.w66-full {
    width: 65.48813%; }

  .cols-2-full.colsm > .col.w70-full {
    width: 68.82813%; }

  .cols-2-full.colsm > .col.w75-full {
    width: 73.82813%; }

  .cols-2-full.colsm > .col.w80-full {
    width: 78.82813%; }

  .cols-2-full.colsm > .col.w100-full {
    width: 98.82813%; }

  .cols-2-full.colsm > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-full.colsm > .col,
  .colsd-full.colsm > .col:first-child:nth-last-child(3),
  .colsd-full.colsm > .col:first-child:nth-last-child(3) ~ .col {
    width: 31.77083%; }

  .cols-3-full.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-full.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-full.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-full.colsm > .col.w20-full {
    width: 18.4375%; }

  .cols-3-full.colsm > .col.w25-full {
    width: 23.4375%; }

  .cols-3-full.colsm > .col.w30-full {
    width: 28.4375%; }

  .cols-3-full.colsm > .col.w33-full {
    width: 31.7675%; }

  .cols-3-full.colsm > .col.w40-full {
    width: 38.4375%; }

  .cols-3-full.colsm > .col.w50-full {
    width: 48.4375%; }

  .cols-3-full.colsm > .col.w60-full {
    width: 58.4375%; }

  .cols-3-full.colsm > .col.w66-full {
    width: 65.0975%; }

  .cols-3-full.colsm > .col.w70-full {
    width: 68.4375%; }

  .cols-3-full.colsm > .col.w75-full {
    width: 73.4375%; }

  .cols-3-full.colsm > .col.w80-full {
    width: 78.4375%; }

  .cols-3-full.colsm > .col.w100-full {
    width: 98.4375%; }

  .cols-3-full.colsm > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-full.colsm > .col,
  .colsd-full.colsm > .col:first-child:nth-last-child(4),
  .colsd-full.colsm > .col:first-child:nth-last-child(4) ~ .col {
    width: 23.24219%; }

  .cols-4-full.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-full.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-full.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-full.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-full.colsm > .col.w20-full {
    width: 18.24219%; }

  .cols-4-full.colsm > .col.w25-full {
    width: 23.24219%; }

  .cols-4-full.colsm > .col.w30-full {
    width: 28.24219%; }

  .cols-4-full.colsm > .col.w33-full {
    width: 31.57219%; }

  .cols-4-full.colsm > .col.w40-full {
    width: 38.24219%; }

  .cols-4-full.colsm > .col.w50-full {
    width: 48.24219%; }

  .cols-4-full.colsm > .col.w60-full {
    width: 58.24219%; }

  .cols-4-full.colsm > .col.w66-full {
    width: 64.90219%; }

  .cols-4-full.colsm > .col.w70-full {
    width: 68.24219%; }

  .cols-4-full.colsm > .col.w75-full {
    width: 73.24219%; }

  .cols-4-full.colsm > .col.w80-full {
    width: 78.24219%; }

  .cols-4-full.colsm > .col.w100-full {
    width: 98.24219%; }

  .cols-4-full.colsm > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-full.colsm > .col,
  .colsd-full.colsm > .col:first-child:nth-last-child(5),
  .colsd-full.colsm > .col:first-child:nth-last-child(5) ~ .col {
    width: 18.125%; }

  .cols-5-full.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-full.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-full.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-full.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-full.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-full.colsm > .col.w20-full {
    width: 18.125%; }

  .cols-5-full.colsm > .col.w25-full {
    width: 23.125%; }

  .cols-5-full.colsm > .col.w30-full {
    width: 28.125%; }

  .cols-5-full.colsm > .col.w33-full {
    width: 31.455%; }

  .cols-5-full.colsm > .col.w40-full {
    width: 38.125%; }

  .cols-5-full.colsm > .col.w50-full {
    width: 48.125%; }

  .cols-5-full.colsm > .col.w60-full {
    width: 58.125%; }

  .cols-5-full.colsm > .col.w66-full {
    width: 64.785%; }

  .cols-5-full.colsm > .col.w70-full {
    width: 68.125%; }

  .cols-5-full.colsm > .col.w75-full {
    width: 73.125%; }

  .cols-5-full.colsm > .col.w80-full {
    width: 78.125%; }

  .cols-5-full.colsm > .col.w100-full {
    width: 98.125%; }

  .cols-5-full.colsm > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-full.colsm > .col,
  .colsd-full.colsm > .col:first-child:nth-last-child(6),
  .colsd-full.colsm > .col:first-child:nth-last-child(6) ~ .col {
    width: 14.71354%; }

  .cols-6-full.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-full.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-full.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-full.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-full.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-full.colsm > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-full.colsm > .col.w20-full {
    width: 18.04688%; }

  .cols-6-full.colsm > .col.w25-full {
    width: 23.04688%; }

  .cols-6-full.colsm > .col.w30-full {
    width: 28.04688%; }

  .cols-6-full.colsm > .col.w33-full {
    width: 31.37688%; }

  .cols-6-full.colsm > .col.w40-full {
    width: 38.04688%; }

  .cols-6-full.colsm > .col.w50-full {
    width: 48.04688%; }

  .cols-6-full.colsm > .col.w60-full {
    width: 58.04688%; }

  .cols-6-full.colsm > .col.w66-full {
    width: 64.70688%; }

  .cols-6-full.colsm > .col.w70-full {
    width: 68.04688%; }

  .cols-6-full.colsm > .col.w75-full {
    width: 73.04688%; }

  .cols-6-full.colsm > .col.w80-full {
    width: 78.04688%; }

  .cols-6-full.colsm > .col.w100-full {
    width: 98.04688%; }

  .cols-6-full.colsm > .col:nth-child(6n+1) {
    margin-left: 0; } }
@media all and (max-width: 1024px) {
  .w20-bp1024 {
    width: 20%; }

  .w25-bp1024 {
    width: 25%; }

  .w30-bp1024 {
    width: 30%; }

  .w33-bp1024 {
    width: 33.33%; }

  .w40-bp1024 {
    width: 40%; }

  .w50-bp1024 {
    width: 50%; }

  .w60-bp1024 {
    width: 60%; }

  .w66-bp1024 {
    width: 66.66%; }

  .w70-bp1024 {
    width: 70%; }

  .w75-bp1024 {
    width: 75%; }

  .w80-bp1024 {
    width: 80%; }

  .w100-bp1024 {
    width: 100%; }

  .cols.colsm > .col + .col {
    margin-left: 2.92969%;
    margin-top: 2.92969vw; }

  .cols.colsm[class*='colsd-'] > .col + .col {
    margin-top: 0; }

  .cols-1-bp1024 > .col,
  .colsd-bp1024 > .col:first-child:nth-last-child(1),
  .colsd-bp1024 > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-bp1024 > .col.w20-bp1024 {
    width: 20%; }

  .cols-1-bp1024 > .col.w25-bp1024 {
    width: 25%; }

  .cols-1-bp1024 > .col.w30-bp1024 {
    width: 30%; }

  .cols-1-bp1024 > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-1-bp1024 > .col.w40-bp1024 {
    width: 40%; }

  .cols-1-bp1024 > .col.w50-bp1024 {
    width: 50%; }

  .cols-1-bp1024 > .col.w60-bp1024 {
    width: 60%; }

  .cols-1-bp1024 > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-1-bp1024 > .col.w70-bp1024 {
    width: 70%; }

  .cols-1-bp1024 > .col.w75-bp1024 {
    width: 75%; }

  .cols-1-bp1024 > .col.w80-bp1024 {
    width: 80%; }

  .cols-1-bp1024 > .col.w100-bp1024 {
    width: 100%; }

  .cols-2-bp1024 > .col,
  .colsd-bp1024 > .col:first-child:nth-last-child(2),
  .colsd-bp1024 > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-bp1024 > .col.w20-bp1024 {
    width: 20%; }

  .cols-2-bp1024 > .col.w25-bp1024 {
    width: 25%; }

  .cols-2-bp1024 > .col.w30-bp1024 {
    width: 30%; }

  .cols-2-bp1024 > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-2-bp1024 > .col.w40-bp1024 {
    width: 40%; }

  .cols-2-bp1024 > .col.w50-bp1024 {
    width: 50%; }

  .cols-2-bp1024 > .col.w60-bp1024 {
    width: 60%; }

  .cols-2-bp1024 > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-2-bp1024 > .col.w70-bp1024 {
    width: 70%; }

  .cols-2-bp1024 > .col.w75-bp1024 {
    width: 75%; }

  .cols-2-bp1024 > .col.w80-bp1024 {
    width: 80%; }

  .cols-2-bp1024 > .col.w100-bp1024 {
    width: 100%; }

  .cols-3-bp1024 > .col,
  .colsd-bp1024 > .col:first-child:nth-last-child(3),
  .colsd-bp1024 > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-bp1024 > .col.w20-bp1024 {
    width: 20%; }

  .cols-3-bp1024 > .col.w25-bp1024 {
    width: 25%; }

  .cols-3-bp1024 > .col.w30-bp1024 {
    width: 30%; }

  .cols-3-bp1024 > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-3-bp1024 > .col.w40-bp1024 {
    width: 40%; }

  .cols-3-bp1024 > .col.w50-bp1024 {
    width: 50%; }

  .cols-3-bp1024 > .col.w60-bp1024 {
    width: 60%; }

  .cols-3-bp1024 > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-3-bp1024 > .col.w70-bp1024 {
    width: 70%; }

  .cols-3-bp1024 > .col.w75-bp1024 {
    width: 75%; }

  .cols-3-bp1024 > .col.w80-bp1024 {
    width: 80%; }

  .cols-3-bp1024 > .col.w100-bp1024 {
    width: 100%; }

  .cols-4-bp1024 > .col,
  .colsd-bp1024 > .col:first-child:nth-last-child(4),
  .colsd-bp1024 > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-bp1024 > .col.w20-bp1024 {
    width: 20%; }

  .cols-4-bp1024 > .col.w25-bp1024 {
    width: 25%; }

  .cols-4-bp1024 > .col.w30-bp1024 {
    width: 30%; }

  .cols-4-bp1024 > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-4-bp1024 > .col.w40-bp1024 {
    width: 40%; }

  .cols-4-bp1024 > .col.w50-bp1024 {
    width: 50%; }

  .cols-4-bp1024 > .col.w60-bp1024 {
    width: 60%; }

  .cols-4-bp1024 > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-4-bp1024 > .col.w70-bp1024 {
    width: 70%; }

  .cols-4-bp1024 > .col.w75-bp1024 {
    width: 75%; }

  .cols-4-bp1024 > .col.w80-bp1024 {
    width: 80%; }

  .cols-4-bp1024 > .col.w100-bp1024 {
    width: 100%; }

  .cols-5-bp1024 > .col,
  .colsd-bp1024 > .col:first-child:nth-last-child(5),
  .colsd-bp1024 > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-bp1024 > .col.w20-bp1024 {
    width: 20%; }

  .cols-5-bp1024 > .col.w25-bp1024 {
    width: 25%; }

  .cols-5-bp1024 > .col.w30-bp1024 {
    width: 30%; }

  .cols-5-bp1024 > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-5-bp1024 > .col.w40-bp1024 {
    width: 40%; }

  .cols-5-bp1024 > .col.w50-bp1024 {
    width: 50%; }

  .cols-5-bp1024 > .col.w60-bp1024 {
    width: 60%; }

  .cols-5-bp1024 > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-5-bp1024 > .col.w70-bp1024 {
    width: 70%; }

  .cols-5-bp1024 > .col.w75-bp1024 {
    width: 75%; }

  .cols-5-bp1024 > .col.w80-bp1024 {
    width: 80%; }

  .cols-5-bp1024 > .col.w100-bp1024 {
    width: 100%; }

  .cols-6-bp1024 > .col,
  .colsd-bp1024 > .col:first-child:nth-last-child(6),
  .colsd-bp1024 > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-bp1024 > .col.w20-bp1024 {
    width: 20%; }

  .cols-6-bp1024 > .col.w25-bp1024 {
    width: 25%; }

  .cols-6-bp1024 > .col.w30-bp1024 {
    width: 30%; }

  .cols-6-bp1024 > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-6-bp1024 > .col.w40-bp1024 {
    width: 40%; }

  .cols-6-bp1024 > .col.w50-bp1024 {
    width: 50%; }

  .cols-6-bp1024 > .col.w60-bp1024 {
    width: 60%; }

  .cols-6-bp1024 > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-6-bp1024 > .col.w70-bp1024 {
    width: 70%; }

  .cols-6-bp1024 > .col.w75-bp1024 {
    width: 75%; }

  .cols-6-bp1024 > .col.w80-bp1024 {
    width: 80%; }

  .cols-6-bp1024 > .col.w100-bp1024 {
    width: 100%; }

  .cols-1-bp1024.colsm > .col,
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(1),
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-bp1024.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-bp1024.colsm > .col.w20-bp1024 {
    width: 20%; }

  .cols-1-bp1024.colsm > .col.w25-bp1024 {
    width: 25%; }

  .cols-1-bp1024.colsm > .col.w30-bp1024 {
    width: 30%; }

  .cols-1-bp1024.colsm > .col.w33-bp1024 {
    width: 33.33%; }

  .cols-1-bp1024.colsm > .col.w40-bp1024 {
    width: 40%; }

  .cols-1-bp1024.colsm > .col.w50-bp1024 {
    width: 50%; }

  .cols-1-bp1024.colsm > .col.w60-bp1024 {
    width: 60%; }

  .cols-1-bp1024.colsm > .col.w66-bp1024 {
    width: 66.66%; }

  .cols-1-bp1024.colsm > .col.w70-bp1024 {
    width: 70%; }

  .cols-1-bp1024.colsm > .col.w75-bp1024 {
    width: 75%; }

  .cols-1-bp1024.colsm > .col.w80-bp1024 {
    width: 80%; }

  .cols-1-bp1024.colsm > .col.w100-bp1024 {
    width: 100%; }

  .cols-1-bp1024.colsm > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-bp1024.colsm > .col,
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(2),
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(2) ~ .col {
    width: 48.53516%; }

  .cols-2-bp1024.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-bp1024.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-bp1024.colsm > .col.w20-bp1024 {
    width: 18.53516%; }

  .cols-2-bp1024.colsm > .col.w25-bp1024 {
    width: 23.53516%; }

  .cols-2-bp1024.colsm > .col.w30-bp1024 {
    width: 28.53516%; }

  .cols-2-bp1024.colsm > .col.w33-bp1024 {
    width: 31.86516%; }

  .cols-2-bp1024.colsm > .col.w40-bp1024 {
    width: 38.53516%; }

  .cols-2-bp1024.colsm > .col.w50-bp1024 {
    width: 48.53516%; }

  .cols-2-bp1024.colsm > .col.w60-bp1024 {
    width: 58.53516%; }

  .cols-2-bp1024.colsm > .col.w66-bp1024 {
    width: 65.19516%; }

  .cols-2-bp1024.colsm > .col.w70-bp1024 {
    width: 68.53516%; }

  .cols-2-bp1024.colsm > .col.w75-bp1024 {
    width: 73.53516%; }

  .cols-2-bp1024.colsm > .col.w80-bp1024 {
    width: 78.53516%; }

  .cols-2-bp1024.colsm > .col.w100-bp1024 {
    width: 98.53516%; }

  .cols-2-bp1024.colsm > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-bp1024.colsm > .col,
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(3),
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(3) ~ .col {
    width: 31.38021%; }

  .cols-3-bp1024.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-bp1024.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-bp1024.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-bp1024.colsm > .col.w20-bp1024 {
    width: 18.04688%; }

  .cols-3-bp1024.colsm > .col.w25-bp1024 {
    width: 23.04688%; }

  .cols-3-bp1024.colsm > .col.w30-bp1024 {
    width: 28.04688%; }

  .cols-3-bp1024.colsm > .col.w33-bp1024 {
    width: 31.37688%; }

  .cols-3-bp1024.colsm > .col.w40-bp1024 {
    width: 38.04688%; }

  .cols-3-bp1024.colsm > .col.w50-bp1024 {
    width: 48.04688%; }

  .cols-3-bp1024.colsm > .col.w60-bp1024 {
    width: 58.04688%; }

  .cols-3-bp1024.colsm > .col.w66-bp1024 {
    width: 64.70688%; }

  .cols-3-bp1024.colsm > .col.w70-bp1024 {
    width: 68.04688%; }

  .cols-3-bp1024.colsm > .col.w75-bp1024 {
    width: 73.04688%; }

  .cols-3-bp1024.colsm > .col.w80-bp1024 {
    width: 78.04688%; }

  .cols-3-bp1024.colsm > .col.w100-bp1024 {
    width: 98.04688%; }

  .cols-3-bp1024.colsm > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-bp1024.colsm > .col,
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(4),
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(4) ~ .col {
    width: 22.80273%; }

  .cols-4-bp1024.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-bp1024.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-bp1024.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-bp1024.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-bp1024.colsm > .col.w20-bp1024 {
    width: 17.80273%; }

  .cols-4-bp1024.colsm > .col.w25-bp1024 {
    width: 22.80273%; }

  .cols-4-bp1024.colsm > .col.w30-bp1024 {
    width: 27.80273%; }

  .cols-4-bp1024.colsm > .col.w33-bp1024 {
    width: 31.13273%; }

  .cols-4-bp1024.colsm > .col.w40-bp1024 {
    width: 37.80273%; }

  .cols-4-bp1024.colsm > .col.w50-bp1024 {
    width: 47.80273%; }

  .cols-4-bp1024.colsm > .col.w60-bp1024 {
    width: 57.80273%; }

  .cols-4-bp1024.colsm > .col.w66-bp1024 {
    width: 64.46273%; }

  .cols-4-bp1024.colsm > .col.w70-bp1024 {
    width: 67.80273%; }

  .cols-4-bp1024.colsm > .col.w75-bp1024 {
    width: 72.80273%; }

  .cols-4-bp1024.colsm > .col.w80-bp1024 {
    width: 77.80273%; }

  .cols-4-bp1024.colsm > .col.w100-bp1024 {
    width: 97.80273%; }

  .cols-4-bp1024.colsm > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-bp1024.colsm > .col,
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(5),
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(5) ~ .col {
    width: 17.65625%; }

  .cols-5-bp1024.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-bp1024.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-bp1024.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-bp1024.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-bp1024.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-bp1024.colsm > .col.w20-bp1024 {
    width: 17.65625%; }

  .cols-5-bp1024.colsm > .col.w25-bp1024 {
    width: 22.65625%; }

  .cols-5-bp1024.colsm > .col.w30-bp1024 {
    width: 27.65625%; }

  .cols-5-bp1024.colsm > .col.w33-bp1024 {
    width: 30.98625%; }

  .cols-5-bp1024.colsm > .col.w40-bp1024 {
    width: 37.65625%; }

  .cols-5-bp1024.colsm > .col.w50-bp1024 {
    width: 47.65625%; }

  .cols-5-bp1024.colsm > .col.w60-bp1024 {
    width: 57.65625%; }

  .cols-5-bp1024.colsm > .col.w66-bp1024 {
    width: 64.31625%; }

  .cols-5-bp1024.colsm > .col.w70-bp1024 {
    width: 67.65625%; }

  .cols-5-bp1024.colsm > .col.w75-bp1024 {
    width: 72.65625%; }

  .cols-5-bp1024.colsm > .col.w80-bp1024 {
    width: 77.65625%; }

  .cols-5-bp1024.colsm > .col.w100-bp1024 {
    width: 97.65625%; }

  .cols-5-bp1024.colsm > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-bp1024.colsm > .col,
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(6),
  .colsd-bp1024.colsm > .col:first-child:nth-last-child(6) ~ .col {
    width: 14.22526%; }

  .cols-6-bp1024.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-bp1024.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-bp1024.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-bp1024.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-bp1024.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-bp1024.colsm > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-bp1024.colsm > .col.w20-bp1024 {
    width: 17.55859%; }

  .cols-6-bp1024.colsm > .col.w25-bp1024 {
    width: 22.55859%; }

  .cols-6-bp1024.colsm > .col.w30-bp1024 {
    width: 27.55859%; }

  .cols-6-bp1024.colsm > .col.w33-bp1024 {
    width: 30.88859%; }

  .cols-6-bp1024.colsm > .col.w40-bp1024 {
    width: 37.55859%; }

  .cols-6-bp1024.colsm > .col.w50-bp1024 {
    width: 47.55859%; }

  .cols-6-bp1024.colsm > .col.w60-bp1024 {
    width: 57.55859%; }

  .cols-6-bp1024.colsm > .col.w66-bp1024 {
    width: 64.21859%; }

  .cols-6-bp1024.colsm > .col.w70-bp1024 {
    width: 67.55859%; }

  .cols-6-bp1024.colsm > .col.w75-bp1024 {
    width: 72.55859%; }

  .cols-6-bp1024.colsm > .col.w80-bp1024 {
    width: 77.55859%; }

  .cols-6-bp1024.colsm > .col.w100-bp1024 {
    width: 97.55859%; }

  .cols-6-bp1024.colsm > .col:nth-child(6n+1) {
    margin-left: 0; } }
@media all and (max-width: 768px) {
  .w20-bp768 {
    width: 20%; }

  .w25-bp768 {
    width: 25%; }

  .w30-bp768 {
    width: 30%; }

  .w33-bp768 {
    width: 33.33%; }

  .w40-bp768 {
    width: 40%; }

  .w50-bp768 {
    width: 50%; }

  .w60-bp768 {
    width: 60%; }

  .w66-bp768 {
    width: 66.66%; }

  .w70-bp768 {
    width: 70%; }

  .w75-bp768 {
    width: 75%; }

  .w80-bp768 {
    width: 80%; }

  .w100-bp768 {
    width: 100%; }

  .cols.colsm > .col + .col {
    margin-left: 3.90625%;
    margin-top: 3.90625vw; }

  .cols.colsm[class*='colsd-'] > .col + .col {
    margin-top: 0; }

  .cols-1-bp768 > .col,
  .colsd-bp768 > .col:first-child:nth-last-child(1),
  .colsd-bp768 > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-bp768 > .col.w20-bp768 {
    width: 20%; }

  .cols-1-bp768 > .col.w25-bp768 {
    width: 25%; }

  .cols-1-bp768 > .col.w30-bp768 {
    width: 30%; }

  .cols-1-bp768 > .col.w33-bp768 {
    width: 33.33%; }

  .cols-1-bp768 > .col.w40-bp768 {
    width: 40%; }

  .cols-1-bp768 > .col.w50-bp768 {
    width: 50%; }

  .cols-1-bp768 > .col.w60-bp768 {
    width: 60%; }

  .cols-1-bp768 > .col.w66-bp768 {
    width: 66.66%; }

  .cols-1-bp768 > .col.w70-bp768 {
    width: 70%; }

  .cols-1-bp768 > .col.w75-bp768 {
    width: 75%; }

  .cols-1-bp768 > .col.w80-bp768 {
    width: 80%; }

  .cols-1-bp768 > .col.w100-bp768 {
    width: 100%; }

  .cols-2-bp768 > .col,
  .colsd-bp768 > .col:first-child:nth-last-child(2),
  .colsd-bp768 > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-bp768 > .col.w20-bp768 {
    width: 20%; }

  .cols-2-bp768 > .col.w25-bp768 {
    width: 25%; }

  .cols-2-bp768 > .col.w30-bp768 {
    width: 30%; }

  .cols-2-bp768 > .col.w33-bp768 {
    width: 33.33%; }

  .cols-2-bp768 > .col.w40-bp768 {
    width: 40%; }

  .cols-2-bp768 > .col.w50-bp768 {
    width: 50%; }

  .cols-2-bp768 > .col.w60-bp768 {
    width: 60%; }

  .cols-2-bp768 > .col.w66-bp768 {
    width: 66.66%; }

  .cols-2-bp768 > .col.w70-bp768 {
    width: 70%; }

  .cols-2-bp768 > .col.w75-bp768 {
    width: 75%; }

  .cols-2-bp768 > .col.w80-bp768 {
    width: 80%; }

  .cols-2-bp768 > .col.w100-bp768 {
    width: 100%; }

  .cols-3-bp768 > .col,
  .colsd-bp768 > .col:first-child:nth-last-child(3),
  .colsd-bp768 > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-bp768 > .col.w20-bp768 {
    width: 20%; }

  .cols-3-bp768 > .col.w25-bp768 {
    width: 25%; }

  .cols-3-bp768 > .col.w30-bp768 {
    width: 30%; }

  .cols-3-bp768 > .col.w33-bp768 {
    width: 33.33%; }

  .cols-3-bp768 > .col.w40-bp768 {
    width: 40%; }

  .cols-3-bp768 > .col.w50-bp768 {
    width: 50%; }

  .cols-3-bp768 > .col.w60-bp768 {
    width: 60%; }

  .cols-3-bp768 > .col.w66-bp768 {
    width: 66.66%; }

  .cols-3-bp768 > .col.w70-bp768 {
    width: 70%; }

  .cols-3-bp768 > .col.w75-bp768 {
    width: 75%; }

  .cols-3-bp768 > .col.w80-bp768 {
    width: 80%; }

  .cols-3-bp768 > .col.w100-bp768 {
    width: 100%; }

  .cols-4-bp768 > .col,
  .colsd-bp768 > .col:first-child:nth-last-child(4),
  .colsd-bp768 > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-bp768 > .col.w20-bp768 {
    width: 20%; }

  .cols-4-bp768 > .col.w25-bp768 {
    width: 25%; }

  .cols-4-bp768 > .col.w30-bp768 {
    width: 30%; }

  .cols-4-bp768 > .col.w33-bp768 {
    width: 33.33%; }

  .cols-4-bp768 > .col.w40-bp768 {
    width: 40%; }

  .cols-4-bp768 > .col.w50-bp768 {
    width: 50%; }

  .cols-4-bp768 > .col.w60-bp768 {
    width: 60%; }

  .cols-4-bp768 > .col.w66-bp768 {
    width: 66.66%; }

  .cols-4-bp768 > .col.w70-bp768 {
    width: 70%; }

  .cols-4-bp768 > .col.w75-bp768 {
    width: 75%; }

  .cols-4-bp768 > .col.w80-bp768 {
    width: 80%; }

  .cols-4-bp768 > .col.w100-bp768 {
    width: 100%; }

  .cols-5-bp768 > .col,
  .colsd-bp768 > .col:first-child:nth-last-child(5),
  .colsd-bp768 > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-bp768 > .col.w20-bp768 {
    width: 20%; }

  .cols-5-bp768 > .col.w25-bp768 {
    width: 25%; }

  .cols-5-bp768 > .col.w30-bp768 {
    width: 30%; }

  .cols-5-bp768 > .col.w33-bp768 {
    width: 33.33%; }

  .cols-5-bp768 > .col.w40-bp768 {
    width: 40%; }

  .cols-5-bp768 > .col.w50-bp768 {
    width: 50%; }

  .cols-5-bp768 > .col.w60-bp768 {
    width: 60%; }

  .cols-5-bp768 > .col.w66-bp768 {
    width: 66.66%; }

  .cols-5-bp768 > .col.w70-bp768 {
    width: 70%; }

  .cols-5-bp768 > .col.w75-bp768 {
    width: 75%; }

  .cols-5-bp768 > .col.w80-bp768 {
    width: 80%; }

  .cols-5-bp768 > .col.w100-bp768 {
    width: 100%; }

  .cols-6-bp768 > .col,
  .colsd-bp768 > .col:first-child:nth-last-child(6),
  .colsd-bp768 > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-bp768 > .col.w20-bp768 {
    width: 20%; }

  .cols-6-bp768 > .col.w25-bp768 {
    width: 25%; }

  .cols-6-bp768 > .col.w30-bp768 {
    width: 30%; }

  .cols-6-bp768 > .col.w33-bp768 {
    width: 33.33%; }

  .cols-6-bp768 > .col.w40-bp768 {
    width: 40%; }

  .cols-6-bp768 > .col.w50-bp768 {
    width: 50%; }

  .cols-6-bp768 > .col.w60-bp768 {
    width: 60%; }

  .cols-6-bp768 > .col.w66-bp768 {
    width: 66.66%; }

  .cols-6-bp768 > .col.w70-bp768 {
    width: 70%; }

  .cols-6-bp768 > .col.w75-bp768 {
    width: 75%; }

  .cols-6-bp768 > .col.w80-bp768 {
    width: 80%; }

  .cols-6-bp768 > .col.w100-bp768 {
    width: 100%; }

  .cols-1-bp768.colsm > .col,
  .colsd-bp768.colsm > .col:first-child:nth-last-child(1),
  .colsd-bp768.colsm > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-bp768.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-bp768.colsm > .col.w20-bp768 {
    width: 20%; }

  .cols-1-bp768.colsm > .col.w25-bp768 {
    width: 25%; }

  .cols-1-bp768.colsm > .col.w30-bp768 {
    width: 30%; }

  .cols-1-bp768.colsm > .col.w33-bp768 {
    width: 33.33%; }

  .cols-1-bp768.colsm > .col.w40-bp768 {
    width: 40%; }

  .cols-1-bp768.colsm > .col.w50-bp768 {
    width: 50%; }

  .cols-1-bp768.colsm > .col.w60-bp768 {
    width: 60%; }

  .cols-1-bp768.colsm > .col.w66-bp768 {
    width: 66.66%; }

  .cols-1-bp768.colsm > .col.w70-bp768 {
    width: 70%; }

  .cols-1-bp768.colsm > .col.w75-bp768 {
    width: 75%; }

  .cols-1-bp768.colsm > .col.w80-bp768 {
    width: 80%; }

  .cols-1-bp768.colsm > .col.w100-bp768 {
    width: 100%; }

  .cols-1-bp768.colsm > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-bp768.colsm > .col,
  .colsd-bp768.colsm > .col:first-child:nth-last-child(2),
  .colsd-bp768.colsm > .col:first-child:nth-last-child(2) ~ .col {
    width: 48.04688%; }

  .cols-2-bp768.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-bp768.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-bp768.colsm > .col.w20-bp768 {
    width: 18.04688%; }

  .cols-2-bp768.colsm > .col.w25-bp768 {
    width: 23.04688%; }

  .cols-2-bp768.colsm > .col.w30-bp768 {
    width: 28.04688%; }

  .cols-2-bp768.colsm > .col.w33-bp768 {
    width: 31.37688%; }

  .cols-2-bp768.colsm > .col.w40-bp768 {
    width: 38.04688%; }

  .cols-2-bp768.colsm > .col.w50-bp768 {
    width: 48.04688%; }

  .cols-2-bp768.colsm > .col.w60-bp768 {
    width: 58.04688%; }

  .cols-2-bp768.colsm > .col.w66-bp768 {
    width: 64.70688%; }

  .cols-2-bp768.colsm > .col.w70-bp768 {
    width: 68.04688%; }

  .cols-2-bp768.colsm > .col.w75-bp768 {
    width: 73.04688%; }

  .cols-2-bp768.colsm > .col.w80-bp768 {
    width: 78.04688%; }

  .cols-2-bp768.colsm > .col.w100-bp768 {
    width: 98.04688%; }

  .cols-2-bp768.colsm > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-bp768.colsm > .col,
  .colsd-bp768.colsm > .col:first-child:nth-last-child(3),
  .colsd-bp768.colsm > .col:first-child:nth-last-child(3) ~ .col {
    width: 30.72917%; }

  .cols-3-bp768.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-bp768.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-bp768.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-bp768.colsm > .col.w20-bp768 {
    width: 17.39583%; }

  .cols-3-bp768.colsm > .col.w25-bp768 {
    width: 22.39583%; }

  .cols-3-bp768.colsm > .col.w30-bp768 {
    width: 27.39583%; }

  .cols-3-bp768.colsm > .col.w33-bp768 {
    width: 30.72583%; }

  .cols-3-bp768.colsm > .col.w40-bp768 {
    width: 37.39583%; }

  .cols-3-bp768.colsm > .col.w50-bp768 {
    width: 47.39583%; }

  .cols-3-bp768.colsm > .col.w60-bp768 {
    width: 57.39583%; }

  .cols-3-bp768.colsm > .col.w66-bp768 {
    width: 64.05583%; }

  .cols-3-bp768.colsm > .col.w70-bp768 {
    width: 67.39583%; }

  .cols-3-bp768.colsm > .col.w75-bp768 {
    width: 72.39583%; }

  .cols-3-bp768.colsm > .col.w80-bp768 {
    width: 77.39583%; }

  .cols-3-bp768.colsm > .col.w100-bp768 {
    width: 97.39583%; }

  .cols-3-bp768.colsm > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-bp768.colsm > .col,
  .colsd-bp768.colsm > .col:first-child:nth-last-child(4),
  .colsd-bp768.colsm > .col:first-child:nth-last-child(4) ~ .col {
    width: 22.07031%; }

  .cols-4-bp768.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-bp768.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-bp768.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-bp768.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-bp768.colsm > .col.w20-bp768 {
    width: 17.07031%; }

  .cols-4-bp768.colsm > .col.w25-bp768 {
    width: 22.07031%; }

  .cols-4-bp768.colsm > .col.w30-bp768 {
    width: 27.07031%; }

  .cols-4-bp768.colsm > .col.w33-bp768 {
    width: 30.40031%; }

  .cols-4-bp768.colsm > .col.w40-bp768 {
    width: 37.07031%; }

  .cols-4-bp768.colsm > .col.w50-bp768 {
    width: 47.07031%; }

  .cols-4-bp768.colsm > .col.w60-bp768 {
    width: 57.07031%; }

  .cols-4-bp768.colsm > .col.w66-bp768 {
    width: 63.73031%; }

  .cols-4-bp768.colsm > .col.w70-bp768 {
    width: 67.07031%; }

  .cols-4-bp768.colsm > .col.w75-bp768 {
    width: 72.07031%; }

  .cols-4-bp768.colsm > .col.w80-bp768 {
    width: 77.07031%; }

  .cols-4-bp768.colsm > .col.w100-bp768 {
    width: 97.07031%; }

  .cols-4-bp768.colsm > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-bp768.colsm > .col,
  .colsd-bp768.colsm > .col:first-child:nth-last-child(5),
  .colsd-bp768.colsm > .col:first-child:nth-last-child(5) ~ .col {
    width: 16.875%; }

  .cols-5-bp768.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-bp768.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-bp768.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-bp768.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-bp768.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-bp768.colsm > .col.w20-bp768 {
    width: 16.875%; }

  .cols-5-bp768.colsm > .col.w25-bp768 {
    width: 21.875%; }

  .cols-5-bp768.colsm > .col.w30-bp768 {
    width: 26.875%; }

  .cols-5-bp768.colsm > .col.w33-bp768 {
    width: 30.205%; }

  .cols-5-bp768.colsm > .col.w40-bp768 {
    width: 36.875%; }

  .cols-5-bp768.colsm > .col.w50-bp768 {
    width: 46.875%; }

  .cols-5-bp768.colsm > .col.w60-bp768 {
    width: 56.875%; }

  .cols-5-bp768.colsm > .col.w66-bp768 {
    width: 63.535%; }

  .cols-5-bp768.colsm > .col.w70-bp768 {
    width: 66.875%; }

  .cols-5-bp768.colsm > .col.w75-bp768 {
    width: 71.875%; }

  .cols-5-bp768.colsm > .col.w80-bp768 {
    width: 76.875%; }

  .cols-5-bp768.colsm > .col.w100-bp768 {
    width: 96.875%; }

  .cols-5-bp768.colsm > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-bp768.colsm > .col,
  .colsd-bp768.colsm > .col:first-child:nth-last-child(6),
  .colsd-bp768.colsm > .col:first-child:nth-last-child(6) ~ .col {
    width: 13.41146%; }

  .cols-6-bp768.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-bp768.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-bp768.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-bp768.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-bp768.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-bp768.colsm > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-bp768.colsm > .col.w20-bp768 {
    width: 16.74479%; }

  .cols-6-bp768.colsm > .col.w25-bp768 {
    width: 21.74479%; }

  .cols-6-bp768.colsm > .col.w30-bp768 {
    width: 26.74479%; }

  .cols-6-bp768.colsm > .col.w33-bp768 {
    width: 30.07479%; }

  .cols-6-bp768.colsm > .col.w40-bp768 {
    width: 36.74479%; }

  .cols-6-bp768.colsm > .col.w50-bp768 {
    width: 46.74479%; }

  .cols-6-bp768.colsm > .col.w60-bp768 {
    width: 56.74479%; }

  .cols-6-bp768.colsm > .col.w66-bp768 {
    width: 63.40479%; }

  .cols-6-bp768.colsm > .col.w70-bp768 {
    width: 66.74479%; }

  .cols-6-bp768.colsm > .col.w75-bp768 {
    width: 71.74479%; }

  .cols-6-bp768.colsm > .col.w80-bp768 {
    width: 76.74479%; }

  .cols-6-bp768.colsm > .col.w100-bp768 {
    width: 96.74479%; }

  .cols-6-bp768.colsm > .col:nth-child(6n+1) {
    margin-left: 0; } }
@media all and (max-width: 480px) {
  .w20-bp480 {
    width: 20%; }

  .w25-bp480 {
    width: 25%; }

  .w30-bp480 {
    width: 30%; }

  .w33-bp480 {
    width: 33.33%; }

  .w40-bp480 {
    width: 40%; }

  .w50-bp480 {
    width: 50%; }

  .w60-bp480 {
    width: 60%; }

  .w66-bp480 {
    width: 66.66%; }

  .w70-bp480 {
    width: 70%; }

  .w75-bp480 {
    width: 75%; }

  .w80-bp480 {
    width: 80%; }

  .w100-bp480 {
    width: 100%; }

  .cols.colsm > .col + .col {
    margin-left: 6.25%;
    margin-top: 6.25vw; }

  .cols.colsm[class*='colsd-'] > .col + .col {
    margin-top: 0; }

  .cols-1-bp480 > .col,
  .colsd-bp480 > .col:first-child:nth-last-child(1),
  .colsd-bp480 > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-bp480 > .col.w20-bp480 {
    width: 20%; }

  .cols-1-bp480 > .col.w25-bp480 {
    width: 25%; }

  .cols-1-bp480 > .col.w30-bp480 {
    width: 30%; }

  .cols-1-bp480 > .col.w33-bp480 {
    width: 33.33%; }

  .cols-1-bp480 > .col.w40-bp480 {
    width: 40%; }

  .cols-1-bp480 > .col.w50-bp480 {
    width: 50%; }

  .cols-1-bp480 > .col.w60-bp480 {
    width: 60%; }

  .cols-1-bp480 > .col.w66-bp480 {
    width: 66.66%; }

  .cols-1-bp480 > .col.w70-bp480 {
    width: 70%; }

  .cols-1-bp480 > .col.w75-bp480 {
    width: 75%; }

  .cols-1-bp480 > .col.w80-bp480 {
    width: 80%; }

  .cols-1-bp480 > .col.w100-bp480 {
    width: 100%; }

  .cols-2-bp480 > .col,
  .colsd-bp480 > .col:first-child:nth-last-child(2),
  .colsd-bp480 > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-bp480 > .col.w20-bp480 {
    width: 20%; }

  .cols-2-bp480 > .col.w25-bp480 {
    width: 25%; }

  .cols-2-bp480 > .col.w30-bp480 {
    width: 30%; }

  .cols-2-bp480 > .col.w33-bp480 {
    width: 33.33%; }

  .cols-2-bp480 > .col.w40-bp480 {
    width: 40%; }

  .cols-2-bp480 > .col.w50-bp480 {
    width: 50%; }

  .cols-2-bp480 > .col.w60-bp480 {
    width: 60%; }

  .cols-2-bp480 > .col.w66-bp480 {
    width: 66.66%; }

  .cols-2-bp480 > .col.w70-bp480 {
    width: 70%; }

  .cols-2-bp480 > .col.w75-bp480 {
    width: 75%; }

  .cols-2-bp480 > .col.w80-bp480 {
    width: 80%; }

  .cols-2-bp480 > .col.w100-bp480 {
    width: 100%; }

  .cols-3-bp480 > .col,
  .colsd-bp480 > .col:first-child:nth-last-child(3),
  .colsd-bp480 > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-bp480 > .col.w20-bp480 {
    width: 20%; }

  .cols-3-bp480 > .col.w25-bp480 {
    width: 25%; }

  .cols-3-bp480 > .col.w30-bp480 {
    width: 30%; }

  .cols-3-bp480 > .col.w33-bp480 {
    width: 33.33%; }

  .cols-3-bp480 > .col.w40-bp480 {
    width: 40%; }

  .cols-3-bp480 > .col.w50-bp480 {
    width: 50%; }

  .cols-3-bp480 > .col.w60-bp480 {
    width: 60%; }

  .cols-3-bp480 > .col.w66-bp480 {
    width: 66.66%; }

  .cols-3-bp480 > .col.w70-bp480 {
    width: 70%; }

  .cols-3-bp480 > .col.w75-bp480 {
    width: 75%; }

  .cols-3-bp480 > .col.w80-bp480 {
    width: 80%; }

  .cols-3-bp480 > .col.w100-bp480 {
    width: 100%; }

  .cols-4-bp480 > .col,
  .colsd-bp480 > .col:first-child:nth-last-child(4),
  .colsd-bp480 > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-bp480 > .col.w20-bp480 {
    width: 20%; }

  .cols-4-bp480 > .col.w25-bp480 {
    width: 25%; }

  .cols-4-bp480 > .col.w30-bp480 {
    width: 30%; }

  .cols-4-bp480 > .col.w33-bp480 {
    width: 33.33%; }

  .cols-4-bp480 > .col.w40-bp480 {
    width: 40%; }

  .cols-4-bp480 > .col.w50-bp480 {
    width: 50%; }

  .cols-4-bp480 > .col.w60-bp480 {
    width: 60%; }

  .cols-4-bp480 > .col.w66-bp480 {
    width: 66.66%; }

  .cols-4-bp480 > .col.w70-bp480 {
    width: 70%; }

  .cols-4-bp480 > .col.w75-bp480 {
    width: 75%; }

  .cols-4-bp480 > .col.w80-bp480 {
    width: 80%; }

  .cols-4-bp480 > .col.w100-bp480 {
    width: 100%; }

  .cols-5-bp480 > .col,
  .colsd-bp480 > .col:first-child:nth-last-child(5),
  .colsd-bp480 > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-bp480 > .col.w20-bp480 {
    width: 20%; }

  .cols-5-bp480 > .col.w25-bp480 {
    width: 25%; }

  .cols-5-bp480 > .col.w30-bp480 {
    width: 30%; }

  .cols-5-bp480 > .col.w33-bp480 {
    width: 33.33%; }

  .cols-5-bp480 > .col.w40-bp480 {
    width: 40%; }

  .cols-5-bp480 > .col.w50-bp480 {
    width: 50%; }

  .cols-5-bp480 > .col.w60-bp480 {
    width: 60%; }

  .cols-5-bp480 > .col.w66-bp480 {
    width: 66.66%; }

  .cols-5-bp480 > .col.w70-bp480 {
    width: 70%; }

  .cols-5-bp480 > .col.w75-bp480 {
    width: 75%; }

  .cols-5-bp480 > .col.w80-bp480 {
    width: 80%; }

  .cols-5-bp480 > .col.w100-bp480 {
    width: 100%; }

  .cols-6-bp480 > .col,
  .colsd-bp480 > .col:first-child:nth-last-child(6),
  .colsd-bp480 > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-bp480 > .col.w20-bp480 {
    width: 20%; }

  .cols-6-bp480 > .col.w25-bp480 {
    width: 25%; }

  .cols-6-bp480 > .col.w30-bp480 {
    width: 30%; }

  .cols-6-bp480 > .col.w33-bp480 {
    width: 33.33%; }

  .cols-6-bp480 > .col.w40-bp480 {
    width: 40%; }

  .cols-6-bp480 > .col.w50-bp480 {
    width: 50%; }

  .cols-6-bp480 > .col.w60-bp480 {
    width: 60%; }

  .cols-6-bp480 > .col.w66-bp480 {
    width: 66.66%; }

  .cols-6-bp480 > .col.w70-bp480 {
    width: 70%; }

  .cols-6-bp480 > .col.w75-bp480 {
    width: 75%; }

  .cols-6-bp480 > .col.w80-bp480 {
    width: 80%; }

  .cols-6-bp480 > .col.w100-bp480 {
    width: 100%; }

  .cols-1-bp480.colsm > .col,
  .colsd-bp480.colsm > .col:first-child:nth-last-child(1),
  .colsd-bp480.colsm > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-bp480.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-bp480.colsm > .col.w20-bp480 {
    width: 20%; }

  .cols-1-bp480.colsm > .col.w25-bp480 {
    width: 25%; }

  .cols-1-bp480.colsm > .col.w30-bp480 {
    width: 30%; }

  .cols-1-bp480.colsm > .col.w33-bp480 {
    width: 33.33%; }

  .cols-1-bp480.colsm > .col.w40-bp480 {
    width: 40%; }

  .cols-1-bp480.colsm > .col.w50-bp480 {
    width: 50%; }

  .cols-1-bp480.colsm > .col.w60-bp480 {
    width: 60%; }

  .cols-1-bp480.colsm > .col.w66-bp480 {
    width: 66.66%; }

  .cols-1-bp480.colsm > .col.w70-bp480 {
    width: 70%; }

  .cols-1-bp480.colsm > .col.w75-bp480 {
    width: 75%; }

  .cols-1-bp480.colsm > .col.w80-bp480 {
    width: 80%; }

  .cols-1-bp480.colsm > .col.w100-bp480 {
    width: 100%; }

  .cols-1-bp480.colsm > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-bp480.colsm > .col,
  .colsd-bp480.colsm > .col:first-child:nth-last-child(2),
  .colsd-bp480.colsm > .col:first-child:nth-last-child(2) ~ .col {
    width: 46.875%; }

  .cols-2-bp480.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-bp480.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-bp480.colsm > .col.w20-bp480 {
    width: 16.875%; }

  .cols-2-bp480.colsm > .col.w25-bp480 {
    width: 21.875%; }

  .cols-2-bp480.colsm > .col.w30-bp480 {
    width: 26.875%; }

  .cols-2-bp480.colsm > .col.w33-bp480 {
    width: 30.205%; }

  .cols-2-bp480.colsm > .col.w40-bp480 {
    width: 36.875%; }

  .cols-2-bp480.colsm > .col.w50-bp480 {
    width: 46.875%; }

  .cols-2-bp480.colsm > .col.w60-bp480 {
    width: 56.875%; }

  .cols-2-bp480.colsm > .col.w66-bp480 {
    width: 63.535%; }

  .cols-2-bp480.colsm > .col.w70-bp480 {
    width: 66.875%; }

  .cols-2-bp480.colsm > .col.w75-bp480 {
    width: 71.875%; }

  .cols-2-bp480.colsm > .col.w80-bp480 {
    width: 76.875%; }

  .cols-2-bp480.colsm > .col.w100-bp480 {
    width: 96.875%; }

  .cols-2-bp480.colsm > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-bp480.colsm > .col,
  .colsd-bp480.colsm > .col:first-child:nth-last-child(3),
  .colsd-bp480.colsm > .col:first-child:nth-last-child(3) ~ .col {
    width: 29.16667%; }

  .cols-3-bp480.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-bp480.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-bp480.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-bp480.colsm > .col.w20-bp480 {
    width: 15.83333%; }

  .cols-3-bp480.colsm > .col.w25-bp480 {
    width: 20.83333%; }

  .cols-3-bp480.colsm > .col.w30-bp480 {
    width: 25.83333%; }

  .cols-3-bp480.colsm > .col.w33-bp480 {
    width: 29.16333%; }

  .cols-3-bp480.colsm > .col.w40-bp480 {
    width: 35.83333%; }

  .cols-3-bp480.colsm > .col.w50-bp480 {
    width: 45.83333%; }

  .cols-3-bp480.colsm > .col.w60-bp480 {
    width: 55.83333%; }

  .cols-3-bp480.colsm > .col.w66-bp480 {
    width: 62.49333%; }

  .cols-3-bp480.colsm > .col.w70-bp480 {
    width: 65.83333%; }

  .cols-3-bp480.colsm > .col.w75-bp480 {
    width: 70.83333%; }

  .cols-3-bp480.colsm > .col.w80-bp480 {
    width: 75.83333%; }

  .cols-3-bp480.colsm > .col.w100-bp480 {
    width: 95.83333%; }

  .cols-3-bp480.colsm > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-bp480.colsm > .col,
  .colsd-bp480.colsm > .col:first-child:nth-last-child(4),
  .colsd-bp480.colsm > .col:first-child:nth-last-child(4) ~ .col {
    width: 20.3125%; }

  .cols-4-bp480.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-bp480.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-bp480.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-bp480.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-bp480.colsm > .col.w20-bp480 {
    width: 15.3125%; }

  .cols-4-bp480.colsm > .col.w25-bp480 {
    width: 20.3125%; }

  .cols-4-bp480.colsm > .col.w30-bp480 {
    width: 25.3125%; }

  .cols-4-bp480.colsm > .col.w33-bp480 {
    width: 28.6425%; }

  .cols-4-bp480.colsm > .col.w40-bp480 {
    width: 35.3125%; }

  .cols-4-bp480.colsm > .col.w50-bp480 {
    width: 45.3125%; }

  .cols-4-bp480.colsm > .col.w60-bp480 {
    width: 55.3125%; }

  .cols-4-bp480.colsm > .col.w66-bp480 {
    width: 61.9725%; }

  .cols-4-bp480.colsm > .col.w70-bp480 {
    width: 65.3125%; }

  .cols-4-bp480.colsm > .col.w75-bp480 {
    width: 70.3125%; }

  .cols-4-bp480.colsm > .col.w80-bp480 {
    width: 75.3125%; }

  .cols-4-bp480.colsm > .col.w100-bp480 {
    width: 95.3125%; }

  .cols-4-bp480.colsm > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-bp480.colsm > .col,
  .colsd-bp480.colsm > .col:first-child:nth-last-child(5),
  .colsd-bp480.colsm > .col:first-child:nth-last-child(5) ~ .col {
    width: 15%; }

  .cols-5-bp480.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-bp480.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-bp480.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-bp480.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-bp480.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-bp480.colsm > .col.w20-bp480 {
    width: 15%; }

  .cols-5-bp480.colsm > .col.w25-bp480 {
    width: 20%; }

  .cols-5-bp480.colsm > .col.w30-bp480 {
    width: 25%; }

  .cols-5-bp480.colsm > .col.w33-bp480 {
    width: 28.33%; }

  .cols-5-bp480.colsm > .col.w40-bp480 {
    width: 35%; }

  .cols-5-bp480.colsm > .col.w50-bp480 {
    width: 45%; }

  .cols-5-bp480.colsm > .col.w60-bp480 {
    width: 55%; }

  .cols-5-bp480.colsm > .col.w66-bp480 {
    width: 61.66%; }

  .cols-5-bp480.colsm > .col.w70-bp480 {
    width: 65%; }

  .cols-5-bp480.colsm > .col.w75-bp480 {
    width: 70%; }

  .cols-5-bp480.colsm > .col.w80-bp480 {
    width: 75%; }

  .cols-5-bp480.colsm > .col.w100-bp480 {
    width: 95%; }

  .cols-5-bp480.colsm > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-bp480.colsm > .col,
  .colsd-bp480.colsm > .col:first-child:nth-last-child(6),
  .colsd-bp480.colsm > .col:first-child:nth-last-child(6) ~ .col {
    width: 11.45833%; }

  .cols-6-bp480.colsm > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-bp480.colsm > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-bp480.colsm > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-bp480.colsm > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-bp480.colsm > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-bp480.colsm > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-bp480.colsm > .col.w20-bp480 {
    width: 14.79167%; }

  .cols-6-bp480.colsm > .col.w25-bp480 {
    width: 19.79167%; }

  .cols-6-bp480.colsm > .col.w30-bp480 {
    width: 24.79167%; }

  .cols-6-bp480.colsm > .col.w33-bp480 {
    width: 28.12167%; }

  .cols-6-bp480.colsm > .col.w40-bp480 {
    width: 34.79167%; }

  .cols-6-bp480.colsm > .col.w50-bp480 {
    width: 44.79167%; }

  .cols-6-bp480.colsm > .col.w60-bp480 {
    width: 54.79167%; }

  .cols-6-bp480.colsm > .col.w66-bp480 {
    width: 61.45167%; }

  .cols-6-bp480.colsm > .col.w70-bp480 {
    width: 64.79167%; }

  .cols-6-bp480.colsm > .col.w75-bp480 {
    width: 69.79167%; }

  .cols-6-bp480.colsm > .col.w80-bp480 {
    width: 74.79167%; }

  .cols-6-bp480.colsm > .col.w100-bp480 {
    width: 94.79167%; }

  .cols-6-bp480.colsm > .col:nth-child(6n+1) {
    margin-left: 0; } }
.col {
  min-height: 300px;
  background: gray; }
