/*
	
	cols.fab 0.8.4
	
*/
/* --- VARS --- */
/* --- CLASSES --- */
.cols {
  display: flex; }

[class*='cols-'] {
  display: flex;
  flex-wrap: wrap; }

.cols-c {
  justify-content: center; }

.col {
  position: relative;
  box-sizing: border-box; }

@media all and (max-width: 5000px) {
  .w20-full {
    width: 20%; }

  .w25-full {
    width: 25%; }

  .w30-full {
    width: 30%; }

  .w33-full {
    width: 33.33%; }

  .w40-full {
    width: 40%; }

  .w50-full {
    width: 50%; }

  .w60-full {
    width: 60%; }

  .w66-full {
    width: 66.66%; }

  .w70-full {
    width: 70%; }

  .w75-full {
    width: 75%; }

  .w80-full {
    width: 80%; }

  .w100-full {
    width: 100%; }

  [class*='cols-'].cols-m > .col + .col {
    margin-left: 2.34375%;
    margin-top: 2.34375vw; }

  [class*='cols-d-'].cols-m > .col + .col {
    margin-top: 0; }

  .cols-1-full > .col,
  .cols-d-full > .col:first-child:nth-last-child(1),
  .cols-d-full > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-full > .col.w20-full {
    width: 20%; }

  .cols-1-full > .col.w25-full {
    width: 25%; }

  .cols-1-full > .col.w30-full {
    width: 30%; }

  .cols-1-full > .col.w33-full {
    width: 33.33%; }

  .cols-1-full > .col.w40-full {
    width: 40%; }

  .cols-1-full > .col.w50-full {
    width: 50%; }

  .cols-1-full > .col.w60-full {
    width: 60%; }

  .cols-1-full > .col.w66-full {
    width: 66.66%; }

  .cols-1-full > .col.w70-full {
    width: 70%; }

  .cols-1-full > .col.w75-full {
    width: 75%; }

  .cols-1-full > .col.w80-full {
    width: 80%; }

  .cols-1-full > .col.w100-full {
    width: 100%; }

  .cols-2-full > .col,
  .cols-d-full > .col:first-child:nth-last-child(2),
  .cols-d-full > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-full > .col.w20-full {
    width: 20%; }

  .cols-2-full > .col.w25-full {
    width: 25%; }

  .cols-2-full > .col.w30-full {
    width: 30%; }

  .cols-2-full > .col.w33-full {
    width: 33.33%; }

  .cols-2-full > .col.w40-full {
    width: 40%; }

  .cols-2-full > .col.w50-full {
    width: 50%; }

  .cols-2-full > .col.w60-full {
    width: 60%; }

  .cols-2-full > .col.w66-full {
    width: 66.66%; }

  .cols-2-full > .col.w70-full {
    width: 70%; }

  .cols-2-full > .col.w75-full {
    width: 75%; }

  .cols-2-full > .col.w80-full {
    width: 80%; }

  .cols-2-full > .col.w100-full {
    width: 100%; }

  .cols-3-full > .col,
  .cols-d-full > .col:first-child:nth-last-child(3),
  .cols-d-full > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-full > .col.w20-full {
    width: 20%; }

  .cols-3-full > .col.w25-full {
    width: 25%; }

  .cols-3-full > .col.w30-full {
    width: 30%; }

  .cols-3-full > .col.w33-full {
    width: 33.33%; }

  .cols-3-full > .col.w40-full {
    width: 40%; }

  .cols-3-full > .col.w50-full {
    width: 50%; }

  .cols-3-full > .col.w60-full {
    width: 60%; }

  .cols-3-full > .col.w66-full {
    width: 66.66%; }

  .cols-3-full > .col.w70-full {
    width: 70%; }

  .cols-3-full > .col.w75-full {
    width: 75%; }

  .cols-3-full > .col.w80-full {
    width: 80%; }

  .cols-3-full > .col.w100-full {
    width: 100%; }

  .cols-4-full > .col,
  .cols-d-full > .col:first-child:nth-last-child(4),
  .cols-d-full > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-full > .col.w20-full {
    width: 20%; }

  .cols-4-full > .col.w25-full {
    width: 25%; }

  .cols-4-full > .col.w30-full {
    width: 30%; }

  .cols-4-full > .col.w33-full {
    width: 33.33%; }

  .cols-4-full > .col.w40-full {
    width: 40%; }

  .cols-4-full > .col.w50-full {
    width: 50%; }

  .cols-4-full > .col.w60-full {
    width: 60%; }

  .cols-4-full > .col.w66-full {
    width: 66.66%; }

  .cols-4-full > .col.w70-full {
    width: 70%; }

  .cols-4-full > .col.w75-full {
    width: 75%; }

  .cols-4-full > .col.w80-full {
    width: 80%; }

  .cols-4-full > .col.w100-full {
    width: 100%; }

  .cols-5-full > .col,
  .cols-d-full > .col:first-child:nth-last-child(5),
  .cols-d-full > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-full > .col.w20-full {
    width: 20%; }

  .cols-5-full > .col.w25-full {
    width: 25%; }

  .cols-5-full > .col.w30-full {
    width: 30%; }

  .cols-5-full > .col.w33-full {
    width: 33.33%; }

  .cols-5-full > .col.w40-full {
    width: 40%; }

  .cols-5-full > .col.w50-full {
    width: 50%; }

  .cols-5-full > .col.w60-full {
    width: 60%; }

  .cols-5-full > .col.w66-full {
    width: 66.66%; }

  .cols-5-full > .col.w70-full {
    width: 70%; }

  .cols-5-full > .col.w75-full {
    width: 75%; }

  .cols-5-full > .col.w80-full {
    width: 80%; }

  .cols-5-full > .col.w100-full {
    width: 100%; }

  .cols-6-full > .col,
  .cols-d-full > .col:first-child:nth-last-child(6),
  .cols-d-full > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-full > .col.w20-full {
    width: 20%; }

  .cols-6-full > .col.w25-full {
    width: 25%; }

  .cols-6-full > .col.w30-full {
    width: 30%; }

  .cols-6-full > .col.w33-full {
    width: 33.33%; }

  .cols-6-full > .col.w40-full {
    width: 40%; }

  .cols-6-full > .col.w50-full {
    width: 50%; }

  .cols-6-full > .col.w60-full {
    width: 60%; }

  .cols-6-full > .col.w66-full {
    width: 66.66%; }

  .cols-6-full > .col.w70-full {
    width: 70%; }

  .cols-6-full > .col.w75-full {
    width: 75%; }

  .cols-6-full > .col.w80-full {
    width: 80%; }

  .cols-6-full > .col.w100-full {
    width: 100%; }

  .cols-1-full.cols-m > .col,
  .cols-d-full.cols-m > .col:first-child:nth-last-child(1),
  .cols-d-full.cols-m > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-full.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-full.cols-m > .col.w20-full {
    width: 20%; }

  .cols-1-full.cols-m > .col.w25-full {
    width: 25%; }

  .cols-1-full.cols-m > .col.w30-full {
    width: 30%; }

  .cols-1-full.cols-m > .col.w33-full {
    width: 33.33%; }

  .cols-1-full.cols-m > .col.w40-full {
    width: 40%; }

  .cols-1-full.cols-m > .col.w50-full {
    width: 50%; }

  .cols-1-full.cols-m > .col.w60-full {
    width: 60%; }

  .cols-1-full.cols-m > .col.w66-full {
    width: 66.66%; }

  .cols-1-full.cols-m > .col.w70-full {
    width: 70%; }

  .cols-1-full.cols-m > .col.w75-full {
    width: 75%; }

  .cols-1-full.cols-m > .col.w80-full {
    width: 80%; }

  .cols-1-full.cols-m > .col.w100-full {
    width: 100%; }

  .cols-1-full.cols-m > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-full.cols-m > .col,
  .cols-d-full.cols-m > .col:first-child:nth-last-child(2),
  .cols-d-full.cols-m > .col:first-child:nth-last-child(2) ~ .col {
    width: 48.82813%; }

  .cols-2-full.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-full.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-full.cols-m > .col.w20-full {
    width: 18.82813%; }

  .cols-2-full.cols-m > .col.w25-full {
    width: 23.82813%; }

  .cols-2-full.cols-m > .col.w30-full {
    width: 28.82813%; }

  .cols-2-full.cols-m > .col.w33-full {
    width: 32.15813%; }

  .cols-2-full.cols-m > .col.w40-full {
    width: 38.82813%; }

  .cols-2-full.cols-m > .col.w50-full {
    width: 48.82813%; }

  .cols-2-full.cols-m > .col.w60-full {
    width: 58.82813%; }

  .cols-2-full.cols-m > .col.w66-full {
    width: 65.48813%; }

  .cols-2-full.cols-m > .col.w70-full {
    width: 68.82813%; }

  .cols-2-full.cols-m > .col.w75-full {
    width: 73.82813%; }

  .cols-2-full.cols-m > .col.w80-full {
    width: 78.82813%; }

  .cols-2-full.cols-m > .col.w100-full {
    width: 98.82813%; }

  .cols-2-full.cols-m > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-full.cols-m > .col,
  .cols-d-full.cols-m > .col:first-child:nth-last-child(3),
  .cols-d-full.cols-m > .col:first-child:nth-last-child(3) ~ .col {
    width: 31.77083%; }

  .cols-3-full.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-full.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-full.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-full.cols-m > .col.w20-full {
    width: 18.4375%; }

  .cols-3-full.cols-m > .col.w25-full {
    width: 23.4375%; }

  .cols-3-full.cols-m > .col.w30-full {
    width: 28.4375%; }

  .cols-3-full.cols-m > .col.w33-full {
    width: 31.7675%; }

  .cols-3-full.cols-m > .col.w40-full {
    width: 38.4375%; }

  .cols-3-full.cols-m > .col.w50-full {
    width: 48.4375%; }

  .cols-3-full.cols-m > .col.w60-full {
    width: 58.4375%; }

  .cols-3-full.cols-m > .col.w66-full {
    width: 65.0975%; }

  .cols-3-full.cols-m > .col.w70-full {
    width: 68.4375%; }

  .cols-3-full.cols-m > .col.w75-full {
    width: 73.4375%; }

  .cols-3-full.cols-m > .col.w80-full {
    width: 78.4375%; }

  .cols-3-full.cols-m > .col.w100-full {
    width: 98.4375%; }

  .cols-3-full.cols-m > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-full.cols-m > .col,
  .cols-d-full.cols-m > .col:first-child:nth-last-child(4),
  .cols-d-full.cols-m > .col:first-child:nth-last-child(4) ~ .col {
    width: 23.24219%; }

  .cols-4-full.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-full.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-full.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-full.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-full.cols-m > .col.w20-full {
    width: 18.24219%; }

  .cols-4-full.cols-m > .col.w25-full {
    width: 23.24219%; }

  .cols-4-full.cols-m > .col.w30-full {
    width: 28.24219%; }

  .cols-4-full.cols-m > .col.w33-full {
    width: 31.57219%; }

  .cols-4-full.cols-m > .col.w40-full {
    width: 38.24219%; }

  .cols-4-full.cols-m > .col.w50-full {
    width: 48.24219%; }

  .cols-4-full.cols-m > .col.w60-full {
    width: 58.24219%; }

  .cols-4-full.cols-m > .col.w66-full {
    width: 64.90219%; }

  .cols-4-full.cols-m > .col.w70-full {
    width: 68.24219%; }

  .cols-4-full.cols-m > .col.w75-full {
    width: 73.24219%; }

  .cols-4-full.cols-m > .col.w80-full {
    width: 78.24219%; }

  .cols-4-full.cols-m > .col.w100-full {
    width: 98.24219%; }

  .cols-4-full.cols-m > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-full.cols-m > .col,
  .cols-d-full.cols-m > .col:first-child:nth-last-child(5),
  .cols-d-full.cols-m > .col:first-child:nth-last-child(5) ~ .col {
    width: 18.125%; }

  .cols-5-full.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-full.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-full.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-full.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-full.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-full.cols-m > .col.w20-full {
    width: 18.125%; }

  .cols-5-full.cols-m > .col.w25-full {
    width: 23.125%; }

  .cols-5-full.cols-m > .col.w30-full {
    width: 28.125%; }

  .cols-5-full.cols-m > .col.w33-full {
    width: 31.455%; }

  .cols-5-full.cols-m > .col.w40-full {
    width: 38.125%; }

  .cols-5-full.cols-m > .col.w50-full {
    width: 48.125%; }

  .cols-5-full.cols-m > .col.w60-full {
    width: 58.125%; }

  .cols-5-full.cols-m > .col.w66-full {
    width: 64.785%; }

  .cols-5-full.cols-m > .col.w70-full {
    width: 68.125%; }

  .cols-5-full.cols-m > .col.w75-full {
    width: 73.125%; }

  .cols-5-full.cols-m > .col.w80-full {
    width: 78.125%; }

  .cols-5-full.cols-m > .col.w100-full {
    width: 98.125%; }

  .cols-5-full.cols-m > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-full.cols-m > .col,
  .cols-d-full.cols-m > .col:first-child:nth-last-child(6),
  .cols-d-full.cols-m > .col:first-child:nth-last-child(6) ~ .col {
    width: 14.71354%; }

  .cols-6-full.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-full.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-full.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-full.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-full.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-full.cols-m > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-full.cols-m > .col.w20-full {
    width: 18.04688%; }

  .cols-6-full.cols-m > .col.w25-full {
    width: 23.04688%; }

  .cols-6-full.cols-m > .col.w30-full {
    width: 28.04688%; }

  .cols-6-full.cols-m > .col.w33-full {
    width: 31.37688%; }

  .cols-6-full.cols-m > .col.w40-full {
    width: 38.04688%; }

  .cols-6-full.cols-m > .col.w50-full {
    width: 48.04688%; }

  .cols-6-full.cols-m > .col.w60-full {
    width: 58.04688%; }

  .cols-6-full.cols-m > .col.w66-full {
    width: 64.70688%; }

  .cols-6-full.cols-m > .col.w70-full {
    width: 68.04688%; }

  .cols-6-full.cols-m > .col.w75-full {
    width: 73.04688%; }

  .cols-6-full.cols-m > .col.w80-full {
    width: 78.04688%; }

  .cols-6-full.cols-m > .col.w100-full {
    width: 98.04688%; }

  .cols-6-full.cols-m > .col:nth-child(6n+1) {
    margin-left: 0; } }
@media all and (max-width: 1024px) {
  .w20-1024 {
    width: 20%; }

  .w25-1024 {
    width: 25%; }

  .w30-1024 {
    width: 30%; }

  .w33-1024 {
    width: 33.33%; }

  .w40-1024 {
    width: 40%; }

  .w50-1024 {
    width: 50%; }

  .w60-1024 {
    width: 60%; }

  .w66-1024 {
    width: 66.66%; }

  .w70-1024 {
    width: 70%; }

  .w75-1024 {
    width: 75%; }

  .w80-1024 {
    width: 80%; }

  .w100-1024 {
    width: 100%; }

  [class*='cols-'].cols-m > .col + .col {
    margin-left: 1.95313%;
    margin-top: 1.95313vw; }

  [class*='cols-d-'].cols-m > .col + .col {
    margin-top: 0; }

  .cols-1-1024 > .col,
  .cols-d-1024 > .col:first-child:nth-last-child(1),
  .cols-d-1024 > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-1024 > .col.w20-1024 {
    width: 20%; }

  .cols-1-1024 > .col.w25-1024 {
    width: 25%; }

  .cols-1-1024 > .col.w30-1024 {
    width: 30%; }

  .cols-1-1024 > .col.w33-1024 {
    width: 33.33%; }

  .cols-1-1024 > .col.w40-1024 {
    width: 40%; }

  .cols-1-1024 > .col.w50-1024 {
    width: 50%; }

  .cols-1-1024 > .col.w60-1024 {
    width: 60%; }

  .cols-1-1024 > .col.w66-1024 {
    width: 66.66%; }

  .cols-1-1024 > .col.w70-1024 {
    width: 70%; }

  .cols-1-1024 > .col.w75-1024 {
    width: 75%; }

  .cols-1-1024 > .col.w80-1024 {
    width: 80%; }

  .cols-1-1024 > .col.w100-1024 {
    width: 100%; }

  .cols-2-1024 > .col,
  .cols-d-1024 > .col:first-child:nth-last-child(2),
  .cols-d-1024 > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-1024 > .col.w20-1024 {
    width: 20%; }

  .cols-2-1024 > .col.w25-1024 {
    width: 25%; }

  .cols-2-1024 > .col.w30-1024 {
    width: 30%; }

  .cols-2-1024 > .col.w33-1024 {
    width: 33.33%; }

  .cols-2-1024 > .col.w40-1024 {
    width: 40%; }

  .cols-2-1024 > .col.w50-1024 {
    width: 50%; }

  .cols-2-1024 > .col.w60-1024 {
    width: 60%; }

  .cols-2-1024 > .col.w66-1024 {
    width: 66.66%; }

  .cols-2-1024 > .col.w70-1024 {
    width: 70%; }

  .cols-2-1024 > .col.w75-1024 {
    width: 75%; }

  .cols-2-1024 > .col.w80-1024 {
    width: 80%; }

  .cols-2-1024 > .col.w100-1024 {
    width: 100%; }

  .cols-3-1024 > .col,
  .cols-d-1024 > .col:first-child:nth-last-child(3),
  .cols-d-1024 > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-1024 > .col.w20-1024 {
    width: 20%; }

  .cols-3-1024 > .col.w25-1024 {
    width: 25%; }

  .cols-3-1024 > .col.w30-1024 {
    width: 30%; }

  .cols-3-1024 > .col.w33-1024 {
    width: 33.33%; }

  .cols-3-1024 > .col.w40-1024 {
    width: 40%; }

  .cols-3-1024 > .col.w50-1024 {
    width: 50%; }

  .cols-3-1024 > .col.w60-1024 {
    width: 60%; }

  .cols-3-1024 > .col.w66-1024 {
    width: 66.66%; }

  .cols-3-1024 > .col.w70-1024 {
    width: 70%; }

  .cols-3-1024 > .col.w75-1024 {
    width: 75%; }

  .cols-3-1024 > .col.w80-1024 {
    width: 80%; }

  .cols-3-1024 > .col.w100-1024 {
    width: 100%; }

  .cols-4-1024 > .col,
  .cols-d-1024 > .col:first-child:nth-last-child(4),
  .cols-d-1024 > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-1024 > .col.w20-1024 {
    width: 20%; }

  .cols-4-1024 > .col.w25-1024 {
    width: 25%; }

  .cols-4-1024 > .col.w30-1024 {
    width: 30%; }

  .cols-4-1024 > .col.w33-1024 {
    width: 33.33%; }

  .cols-4-1024 > .col.w40-1024 {
    width: 40%; }

  .cols-4-1024 > .col.w50-1024 {
    width: 50%; }

  .cols-4-1024 > .col.w60-1024 {
    width: 60%; }

  .cols-4-1024 > .col.w66-1024 {
    width: 66.66%; }

  .cols-4-1024 > .col.w70-1024 {
    width: 70%; }

  .cols-4-1024 > .col.w75-1024 {
    width: 75%; }

  .cols-4-1024 > .col.w80-1024 {
    width: 80%; }

  .cols-4-1024 > .col.w100-1024 {
    width: 100%; }

  .cols-5-1024 > .col,
  .cols-d-1024 > .col:first-child:nth-last-child(5),
  .cols-d-1024 > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-1024 > .col.w20-1024 {
    width: 20%; }

  .cols-5-1024 > .col.w25-1024 {
    width: 25%; }

  .cols-5-1024 > .col.w30-1024 {
    width: 30%; }

  .cols-5-1024 > .col.w33-1024 {
    width: 33.33%; }

  .cols-5-1024 > .col.w40-1024 {
    width: 40%; }

  .cols-5-1024 > .col.w50-1024 {
    width: 50%; }

  .cols-5-1024 > .col.w60-1024 {
    width: 60%; }

  .cols-5-1024 > .col.w66-1024 {
    width: 66.66%; }

  .cols-5-1024 > .col.w70-1024 {
    width: 70%; }

  .cols-5-1024 > .col.w75-1024 {
    width: 75%; }

  .cols-5-1024 > .col.w80-1024 {
    width: 80%; }

  .cols-5-1024 > .col.w100-1024 {
    width: 100%; }

  .cols-6-1024 > .col,
  .cols-d-1024 > .col:first-child:nth-last-child(6),
  .cols-d-1024 > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-1024 > .col.w20-1024 {
    width: 20%; }

  .cols-6-1024 > .col.w25-1024 {
    width: 25%; }

  .cols-6-1024 > .col.w30-1024 {
    width: 30%; }

  .cols-6-1024 > .col.w33-1024 {
    width: 33.33%; }

  .cols-6-1024 > .col.w40-1024 {
    width: 40%; }

  .cols-6-1024 > .col.w50-1024 {
    width: 50%; }

  .cols-6-1024 > .col.w60-1024 {
    width: 60%; }

  .cols-6-1024 > .col.w66-1024 {
    width: 66.66%; }

  .cols-6-1024 > .col.w70-1024 {
    width: 70%; }

  .cols-6-1024 > .col.w75-1024 {
    width: 75%; }

  .cols-6-1024 > .col.w80-1024 {
    width: 80%; }

  .cols-6-1024 > .col.w100-1024 {
    width: 100%; }

  .cols-1-1024.cols-m > .col,
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(1),
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-1024.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-1024.cols-m > .col.w20-1024 {
    width: 20%; }

  .cols-1-1024.cols-m > .col.w25-1024 {
    width: 25%; }

  .cols-1-1024.cols-m > .col.w30-1024 {
    width: 30%; }

  .cols-1-1024.cols-m > .col.w33-1024 {
    width: 33.33%; }

  .cols-1-1024.cols-m > .col.w40-1024 {
    width: 40%; }

  .cols-1-1024.cols-m > .col.w50-1024 {
    width: 50%; }

  .cols-1-1024.cols-m > .col.w60-1024 {
    width: 60%; }

  .cols-1-1024.cols-m > .col.w66-1024 {
    width: 66.66%; }

  .cols-1-1024.cols-m > .col.w70-1024 {
    width: 70%; }

  .cols-1-1024.cols-m > .col.w75-1024 {
    width: 75%; }

  .cols-1-1024.cols-m > .col.w80-1024 {
    width: 80%; }

  .cols-1-1024.cols-m > .col.w100-1024 {
    width: 100%; }

  .cols-1-1024.cols-m > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-1024.cols-m > .col,
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(2),
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(2) ~ .col {
    width: 49.02344%; }

  .cols-2-1024.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-1024.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-1024.cols-m > .col.w20-1024 {
    width: 19.02344%; }

  .cols-2-1024.cols-m > .col.w25-1024 {
    width: 24.02344%; }

  .cols-2-1024.cols-m > .col.w30-1024 {
    width: 29.02344%; }

  .cols-2-1024.cols-m > .col.w33-1024 {
    width: 32.35344%; }

  .cols-2-1024.cols-m > .col.w40-1024 {
    width: 39.02344%; }

  .cols-2-1024.cols-m > .col.w50-1024 {
    width: 49.02344%; }

  .cols-2-1024.cols-m > .col.w60-1024 {
    width: 59.02344%; }

  .cols-2-1024.cols-m > .col.w66-1024 {
    width: 65.68344%; }

  .cols-2-1024.cols-m > .col.w70-1024 {
    width: 69.02344%; }

  .cols-2-1024.cols-m > .col.w75-1024 {
    width: 74.02344%; }

  .cols-2-1024.cols-m > .col.w80-1024 {
    width: 79.02344%; }

  .cols-2-1024.cols-m > .col.w100-1024 {
    width: 99.02344%; }

  .cols-2-1024.cols-m > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-1024.cols-m > .col,
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(3),
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(3) ~ .col {
    width: 32.03125%; }

  .cols-3-1024.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-1024.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-1024.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-1024.cols-m > .col.w20-1024 {
    width: 18.69792%; }

  .cols-3-1024.cols-m > .col.w25-1024 {
    width: 23.69792%; }

  .cols-3-1024.cols-m > .col.w30-1024 {
    width: 28.69792%; }

  .cols-3-1024.cols-m > .col.w33-1024 {
    width: 32.02792%; }

  .cols-3-1024.cols-m > .col.w40-1024 {
    width: 38.69792%; }

  .cols-3-1024.cols-m > .col.w50-1024 {
    width: 48.69792%; }

  .cols-3-1024.cols-m > .col.w60-1024 {
    width: 58.69792%; }

  .cols-3-1024.cols-m > .col.w66-1024 {
    width: 65.35792%; }

  .cols-3-1024.cols-m > .col.w70-1024 {
    width: 68.69792%; }

  .cols-3-1024.cols-m > .col.w75-1024 {
    width: 73.69792%; }

  .cols-3-1024.cols-m > .col.w80-1024 {
    width: 78.69792%; }

  .cols-3-1024.cols-m > .col.w100-1024 {
    width: 98.69792%; }

  .cols-3-1024.cols-m > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-1024.cols-m > .col,
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(4),
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(4) ~ .col {
    width: 23.53516%; }

  .cols-4-1024.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-1024.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-1024.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-1024.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-1024.cols-m > .col.w20-1024 {
    width: 18.53516%; }

  .cols-4-1024.cols-m > .col.w25-1024 {
    width: 23.53516%; }

  .cols-4-1024.cols-m > .col.w30-1024 {
    width: 28.53516%; }

  .cols-4-1024.cols-m > .col.w33-1024 {
    width: 31.86516%; }

  .cols-4-1024.cols-m > .col.w40-1024 {
    width: 38.53516%; }

  .cols-4-1024.cols-m > .col.w50-1024 {
    width: 48.53516%; }

  .cols-4-1024.cols-m > .col.w60-1024 {
    width: 58.53516%; }

  .cols-4-1024.cols-m > .col.w66-1024 {
    width: 65.19516%; }

  .cols-4-1024.cols-m > .col.w70-1024 {
    width: 68.53516%; }

  .cols-4-1024.cols-m > .col.w75-1024 {
    width: 73.53516%; }

  .cols-4-1024.cols-m > .col.w80-1024 {
    width: 78.53516%; }

  .cols-4-1024.cols-m > .col.w100-1024 {
    width: 98.53516%; }

  .cols-4-1024.cols-m > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-1024.cols-m > .col,
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(5),
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(5) ~ .col {
    width: 18.4375%; }

  .cols-5-1024.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-1024.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-1024.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-1024.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-1024.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-1024.cols-m > .col.w20-1024 {
    width: 18.4375%; }

  .cols-5-1024.cols-m > .col.w25-1024 {
    width: 23.4375%; }

  .cols-5-1024.cols-m > .col.w30-1024 {
    width: 28.4375%; }

  .cols-5-1024.cols-m > .col.w33-1024 {
    width: 31.7675%; }

  .cols-5-1024.cols-m > .col.w40-1024 {
    width: 38.4375%; }

  .cols-5-1024.cols-m > .col.w50-1024 {
    width: 48.4375%; }

  .cols-5-1024.cols-m > .col.w60-1024 {
    width: 58.4375%; }

  .cols-5-1024.cols-m > .col.w66-1024 {
    width: 65.0975%; }

  .cols-5-1024.cols-m > .col.w70-1024 {
    width: 68.4375%; }

  .cols-5-1024.cols-m > .col.w75-1024 {
    width: 73.4375%; }

  .cols-5-1024.cols-m > .col.w80-1024 {
    width: 78.4375%; }

  .cols-5-1024.cols-m > .col.w100-1024 {
    width: 98.4375%; }

  .cols-5-1024.cols-m > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-1024.cols-m > .col,
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(6),
  .cols-d-1024.cols-m > .col:first-child:nth-last-child(6) ~ .col {
    width: 15.03906%; }

  .cols-6-1024.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-1024.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-1024.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-1024.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-1024.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-1024.cols-m > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-1024.cols-m > .col.w20-1024 {
    width: 18.3724%; }

  .cols-6-1024.cols-m > .col.w25-1024 {
    width: 23.3724%; }

  .cols-6-1024.cols-m > .col.w30-1024 {
    width: 28.3724%; }

  .cols-6-1024.cols-m > .col.w33-1024 {
    width: 31.7024%; }

  .cols-6-1024.cols-m > .col.w40-1024 {
    width: 38.3724%; }

  .cols-6-1024.cols-m > .col.w50-1024 {
    width: 48.3724%; }

  .cols-6-1024.cols-m > .col.w60-1024 {
    width: 58.3724%; }

  .cols-6-1024.cols-m > .col.w66-1024 {
    width: 65.0324%; }

  .cols-6-1024.cols-m > .col.w70-1024 {
    width: 68.3724%; }

  .cols-6-1024.cols-m > .col.w75-1024 {
    width: 73.3724%; }

  .cols-6-1024.cols-m > .col.w80-1024 {
    width: 78.3724%; }

  .cols-6-1024.cols-m > .col.w100-1024 {
    width: 98.3724%; }

  .cols-6-1024.cols-m > .col:nth-child(6n+1) {
    margin-left: 0; } }
@media all and (max-width: 768px) {
  .w20-768 {
    width: 20%; }

  .w25-768 {
    width: 25%; }

  .w30-768 {
    width: 30%; }

  .w33-768 {
    width: 33.33%; }

  .w40-768 {
    width: 40%; }

  .w50-768 {
    width: 50%; }

  .w60-768 {
    width: 60%; }

  .w66-768 {
    width: 66.66%; }

  .w70-768 {
    width: 70%; }

  .w75-768 {
    width: 75%; }

  .w80-768 {
    width: 80%; }

  .w100-768 {
    width: 100%; }

  [class*='cols-'].cols-m > .col + .col {
    margin-left: 2.60417%;
    margin-top: 2.60417vw; }

  [class*='cols-d-'].cols-m > .col + .col {
    margin-top: 0; }

  .cols-1-768 > .col,
  .cols-d-768 > .col:first-child:nth-last-child(1),
  .cols-d-768 > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-768 > .col.w20-768 {
    width: 20%; }

  .cols-1-768 > .col.w25-768 {
    width: 25%; }

  .cols-1-768 > .col.w30-768 {
    width: 30%; }

  .cols-1-768 > .col.w33-768 {
    width: 33.33%; }

  .cols-1-768 > .col.w40-768 {
    width: 40%; }

  .cols-1-768 > .col.w50-768 {
    width: 50%; }

  .cols-1-768 > .col.w60-768 {
    width: 60%; }

  .cols-1-768 > .col.w66-768 {
    width: 66.66%; }

  .cols-1-768 > .col.w70-768 {
    width: 70%; }

  .cols-1-768 > .col.w75-768 {
    width: 75%; }

  .cols-1-768 > .col.w80-768 {
    width: 80%; }

  .cols-1-768 > .col.w100-768 {
    width: 100%; }

  .cols-2-768 > .col,
  .cols-d-768 > .col:first-child:nth-last-child(2),
  .cols-d-768 > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-768 > .col.w20-768 {
    width: 20%; }

  .cols-2-768 > .col.w25-768 {
    width: 25%; }

  .cols-2-768 > .col.w30-768 {
    width: 30%; }

  .cols-2-768 > .col.w33-768 {
    width: 33.33%; }

  .cols-2-768 > .col.w40-768 {
    width: 40%; }

  .cols-2-768 > .col.w50-768 {
    width: 50%; }

  .cols-2-768 > .col.w60-768 {
    width: 60%; }

  .cols-2-768 > .col.w66-768 {
    width: 66.66%; }

  .cols-2-768 > .col.w70-768 {
    width: 70%; }

  .cols-2-768 > .col.w75-768 {
    width: 75%; }

  .cols-2-768 > .col.w80-768 {
    width: 80%; }

  .cols-2-768 > .col.w100-768 {
    width: 100%; }

  .cols-3-768 > .col,
  .cols-d-768 > .col:first-child:nth-last-child(3),
  .cols-d-768 > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-768 > .col.w20-768 {
    width: 20%; }

  .cols-3-768 > .col.w25-768 {
    width: 25%; }

  .cols-3-768 > .col.w30-768 {
    width: 30%; }

  .cols-3-768 > .col.w33-768 {
    width: 33.33%; }

  .cols-3-768 > .col.w40-768 {
    width: 40%; }

  .cols-3-768 > .col.w50-768 {
    width: 50%; }

  .cols-3-768 > .col.w60-768 {
    width: 60%; }

  .cols-3-768 > .col.w66-768 {
    width: 66.66%; }

  .cols-3-768 > .col.w70-768 {
    width: 70%; }

  .cols-3-768 > .col.w75-768 {
    width: 75%; }

  .cols-3-768 > .col.w80-768 {
    width: 80%; }

  .cols-3-768 > .col.w100-768 {
    width: 100%; }

  .cols-4-768 > .col,
  .cols-d-768 > .col:first-child:nth-last-child(4),
  .cols-d-768 > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-768 > .col.w20-768 {
    width: 20%; }

  .cols-4-768 > .col.w25-768 {
    width: 25%; }

  .cols-4-768 > .col.w30-768 {
    width: 30%; }

  .cols-4-768 > .col.w33-768 {
    width: 33.33%; }

  .cols-4-768 > .col.w40-768 {
    width: 40%; }

  .cols-4-768 > .col.w50-768 {
    width: 50%; }

  .cols-4-768 > .col.w60-768 {
    width: 60%; }

  .cols-4-768 > .col.w66-768 {
    width: 66.66%; }

  .cols-4-768 > .col.w70-768 {
    width: 70%; }

  .cols-4-768 > .col.w75-768 {
    width: 75%; }

  .cols-4-768 > .col.w80-768 {
    width: 80%; }

  .cols-4-768 > .col.w100-768 {
    width: 100%; }

  .cols-5-768 > .col,
  .cols-d-768 > .col:first-child:nth-last-child(5),
  .cols-d-768 > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-768 > .col.w20-768 {
    width: 20%; }

  .cols-5-768 > .col.w25-768 {
    width: 25%; }

  .cols-5-768 > .col.w30-768 {
    width: 30%; }

  .cols-5-768 > .col.w33-768 {
    width: 33.33%; }

  .cols-5-768 > .col.w40-768 {
    width: 40%; }

  .cols-5-768 > .col.w50-768 {
    width: 50%; }

  .cols-5-768 > .col.w60-768 {
    width: 60%; }

  .cols-5-768 > .col.w66-768 {
    width: 66.66%; }

  .cols-5-768 > .col.w70-768 {
    width: 70%; }

  .cols-5-768 > .col.w75-768 {
    width: 75%; }

  .cols-5-768 > .col.w80-768 {
    width: 80%; }

  .cols-5-768 > .col.w100-768 {
    width: 100%; }

  .cols-6-768 > .col,
  .cols-d-768 > .col:first-child:nth-last-child(6),
  .cols-d-768 > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-768 > .col.w20-768 {
    width: 20%; }

  .cols-6-768 > .col.w25-768 {
    width: 25%; }

  .cols-6-768 > .col.w30-768 {
    width: 30%; }

  .cols-6-768 > .col.w33-768 {
    width: 33.33%; }

  .cols-6-768 > .col.w40-768 {
    width: 40%; }

  .cols-6-768 > .col.w50-768 {
    width: 50%; }

  .cols-6-768 > .col.w60-768 {
    width: 60%; }

  .cols-6-768 > .col.w66-768 {
    width: 66.66%; }

  .cols-6-768 > .col.w70-768 {
    width: 70%; }

  .cols-6-768 > .col.w75-768 {
    width: 75%; }

  .cols-6-768 > .col.w80-768 {
    width: 80%; }

  .cols-6-768 > .col.w100-768 {
    width: 100%; }

  .cols-1-768.cols-m > .col,
  .cols-d-768.cols-m > .col:first-child:nth-last-child(1),
  .cols-d-768.cols-m > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-768.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-768.cols-m > .col.w20-768 {
    width: 20%; }

  .cols-1-768.cols-m > .col.w25-768 {
    width: 25%; }

  .cols-1-768.cols-m > .col.w30-768 {
    width: 30%; }

  .cols-1-768.cols-m > .col.w33-768 {
    width: 33.33%; }

  .cols-1-768.cols-m > .col.w40-768 {
    width: 40%; }

  .cols-1-768.cols-m > .col.w50-768 {
    width: 50%; }

  .cols-1-768.cols-m > .col.w60-768 {
    width: 60%; }

  .cols-1-768.cols-m > .col.w66-768 {
    width: 66.66%; }

  .cols-1-768.cols-m > .col.w70-768 {
    width: 70%; }

  .cols-1-768.cols-m > .col.w75-768 {
    width: 75%; }

  .cols-1-768.cols-m > .col.w80-768 {
    width: 80%; }

  .cols-1-768.cols-m > .col.w100-768 {
    width: 100%; }

  .cols-1-768.cols-m > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-768.cols-m > .col,
  .cols-d-768.cols-m > .col:first-child:nth-last-child(2),
  .cols-d-768.cols-m > .col:first-child:nth-last-child(2) ~ .col {
    width: 48.69792%; }

  .cols-2-768.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-768.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-768.cols-m > .col.w20-768 {
    width: 18.69792%; }

  .cols-2-768.cols-m > .col.w25-768 {
    width: 23.69792%; }

  .cols-2-768.cols-m > .col.w30-768 {
    width: 28.69792%; }

  .cols-2-768.cols-m > .col.w33-768 {
    width: 32.02792%; }

  .cols-2-768.cols-m > .col.w40-768 {
    width: 38.69792%; }

  .cols-2-768.cols-m > .col.w50-768 {
    width: 48.69792%; }

  .cols-2-768.cols-m > .col.w60-768 {
    width: 58.69792%; }

  .cols-2-768.cols-m > .col.w66-768 {
    width: 65.35792%; }

  .cols-2-768.cols-m > .col.w70-768 {
    width: 68.69792%; }

  .cols-2-768.cols-m > .col.w75-768 {
    width: 73.69792%; }

  .cols-2-768.cols-m > .col.w80-768 {
    width: 78.69792%; }

  .cols-2-768.cols-m > .col.w100-768 {
    width: 98.69792%; }

  .cols-2-768.cols-m > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-768.cols-m > .col,
  .cols-d-768.cols-m > .col:first-child:nth-last-child(3),
  .cols-d-768.cols-m > .col:first-child:nth-last-child(3) ~ .col {
    width: 31.59722%; }

  .cols-3-768.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-768.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-768.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-768.cols-m > .col.w20-768 {
    width: 18.26389%; }

  .cols-3-768.cols-m > .col.w25-768 {
    width: 23.26389%; }

  .cols-3-768.cols-m > .col.w30-768 {
    width: 28.26389%; }

  .cols-3-768.cols-m > .col.w33-768 {
    width: 31.59389%; }

  .cols-3-768.cols-m > .col.w40-768 {
    width: 38.26389%; }

  .cols-3-768.cols-m > .col.w50-768 {
    width: 48.26389%; }

  .cols-3-768.cols-m > .col.w60-768 {
    width: 58.26389%; }

  .cols-3-768.cols-m > .col.w66-768 {
    width: 64.92389%; }

  .cols-3-768.cols-m > .col.w70-768 {
    width: 68.26389%; }

  .cols-3-768.cols-m > .col.w75-768 {
    width: 73.26389%; }

  .cols-3-768.cols-m > .col.w80-768 {
    width: 78.26389%; }

  .cols-3-768.cols-m > .col.w100-768 {
    width: 98.26389%; }

  .cols-3-768.cols-m > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-768.cols-m > .col,
  .cols-d-768.cols-m > .col:first-child:nth-last-child(4),
  .cols-d-768.cols-m > .col:first-child:nth-last-child(4) ~ .col {
    width: 23.04688%; }

  .cols-4-768.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-768.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-768.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-768.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-768.cols-m > .col.w20-768 {
    width: 18.04688%; }

  .cols-4-768.cols-m > .col.w25-768 {
    width: 23.04688%; }

  .cols-4-768.cols-m > .col.w30-768 {
    width: 28.04688%; }

  .cols-4-768.cols-m > .col.w33-768 {
    width: 31.37688%; }

  .cols-4-768.cols-m > .col.w40-768 {
    width: 38.04688%; }

  .cols-4-768.cols-m > .col.w50-768 {
    width: 48.04688%; }

  .cols-4-768.cols-m > .col.w60-768 {
    width: 58.04688%; }

  .cols-4-768.cols-m > .col.w66-768 {
    width: 64.70688%; }

  .cols-4-768.cols-m > .col.w70-768 {
    width: 68.04688%; }

  .cols-4-768.cols-m > .col.w75-768 {
    width: 73.04688%; }

  .cols-4-768.cols-m > .col.w80-768 {
    width: 78.04688%; }

  .cols-4-768.cols-m > .col.w100-768 {
    width: 98.04688%; }

  .cols-4-768.cols-m > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-768.cols-m > .col,
  .cols-d-768.cols-m > .col:first-child:nth-last-child(5),
  .cols-d-768.cols-m > .col:first-child:nth-last-child(5) ~ .col {
    width: 17.91667%; }

  .cols-5-768.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-768.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-768.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-768.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-768.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-768.cols-m > .col.w20-768 {
    width: 17.91667%; }

  .cols-5-768.cols-m > .col.w25-768 {
    width: 22.91667%; }

  .cols-5-768.cols-m > .col.w30-768 {
    width: 27.91667%; }

  .cols-5-768.cols-m > .col.w33-768 {
    width: 31.24667%; }

  .cols-5-768.cols-m > .col.w40-768 {
    width: 37.91667%; }

  .cols-5-768.cols-m > .col.w50-768 {
    width: 47.91667%; }

  .cols-5-768.cols-m > .col.w60-768 {
    width: 57.91667%; }

  .cols-5-768.cols-m > .col.w66-768 {
    width: 64.57667%; }

  .cols-5-768.cols-m > .col.w70-768 {
    width: 67.91667%; }

  .cols-5-768.cols-m > .col.w75-768 {
    width: 72.91667%; }

  .cols-5-768.cols-m > .col.w80-768 {
    width: 77.91667%; }

  .cols-5-768.cols-m > .col.w100-768 {
    width: 97.91667%; }

  .cols-5-768.cols-m > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-768.cols-m > .col,
  .cols-d-768.cols-m > .col:first-child:nth-last-child(6),
  .cols-d-768.cols-m > .col:first-child:nth-last-child(6) ~ .col {
    width: 14.49653%; }

  .cols-6-768.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-768.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-768.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-768.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-768.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-768.cols-m > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-768.cols-m > .col.w20-768 {
    width: 17.82986%; }

  .cols-6-768.cols-m > .col.w25-768 {
    width: 22.82986%; }

  .cols-6-768.cols-m > .col.w30-768 {
    width: 27.82986%; }

  .cols-6-768.cols-m > .col.w33-768 {
    width: 31.15986%; }

  .cols-6-768.cols-m > .col.w40-768 {
    width: 37.82986%; }

  .cols-6-768.cols-m > .col.w50-768 {
    width: 47.82986%; }

  .cols-6-768.cols-m > .col.w60-768 {
    width: 57.82986%; }

  .cols-6-768.cols-m > .col.w66-768 {
    width: 64.48986%; }

  .cols-6-768.cols-m > .col.w70-768 {
    width: 67.82986%; }

  .cols-6-768.cols-m > .col.w75-768 {
    width: 72.82986%; }

  .cols-6-768.cols-m > .col.w80-768 {
    width: 77.82986%; }

  .cols-6-768.cols-m > .col.w100-768 {
    width: 97.82986%; }

  .cols-6-768.cols-m > .col:nth-child(6n+1) {
    margin-left: 0; } }
@media all and (max-width: 480px) {
  .w20-480 {
    width: 20%; }

  .w25-480 {
    width: 25%; }

  .w30-480 {
    width: 30%; }

  .w33-480 {
    width: 33.33%; }

  .w40-480 {
    width: 40%; }

  .w50-480 {
    width: 50%; }

  .w60-480 {
    width: 60%; }

  .w66-480 {
    width: 66.66%; }

  .w70-480 {
    width: 70%; }

  .w75-480 {
    width: 75%; }

  .w80-480 {
    width: 80%; }

  .w100-480 {
    width: 100%; }

  [class*='cols-'].cols-m > .col + .col {
    margin-left: 4.16667%;
    margin-top: 4.16667vw; }

  [class*='cols-d-'].cols-m > .col + .col {
    margin-top: 0; }

  .cols-1-480 > .col,
  .cols-d-480 > .col:first-child:nth-last-child(1),
  .cols-d-480 > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-480 > .col.w20-480 {
    width: 20%; }

  .cols-1-480 > .col.w25-480 {
    width: 25%; }

  .cols-1-480 > .col.w30-480 {
    width: 30%; }

  .cols-1-480 > .col.w33-480 {
    width: 33.33%; }

  .cols-1-480 > .col.w40-480 {
    width: 40%; }

  .cols-1-480 > .col.w50-480 {
    width: 50%; }

  .cols-1-480 > .col.w60-480 {
    width: 60%; }

  .cols-1-480 > .col.w66-480 {
    width: 66.66%; }

  .cols-1-480 > .col.w70-480 {
    width: 70%; }

  .cols-1-480 > .col.w75-480 {
    width: 75%; }

  .cols-1-480 > .col.w80-480 {
    width: 80%; }

  .cols-1-480 > .col.w100-480 {
    width: 100%; }

  .cols-2-480 > .col,
  .cols-d-480 > .col:first-child:nth-last-child(2),
  .cols-d-480 > .col:first-child:nth-last-child(2) ~ .col {
    width: 50%; }

  .cols-2-480 > .col.w20-480 {
    width: 20%; }

  .cols-2-480 > .col.w25-480 {
    width: 25%; }

  .cols-2-480 > .col.w30-480 {
    width: 30%; }

  .cols-2-480 > .col.w33-480 {
    width: 33.33%; }

  .cols-2-480 > .col.w40-480 {
    width: 40%; }

  .cols-2-480 > .col.w50-480 {
    width: 50%; }

  .cols-2-480 > .col.w60-480 {
    width: 60%; }

  .cols-2-480 > .col.w66-480 {
    width: 66.66%; }

  .cols-2-480 > .col.w70-480 {
    width: 70%; }

  .cols-2-480 > .col.w75-480 {
    width: 75%; }

  .cols-2-480 > .col.w80-480 {
    width: 80%; }

  .cols-2-480 > .col.w100-480 {
    width: 100%; }

  .cols-3-480 > .col,
  .cols-d-480 > .col:first-child:nth-last-child(3),
  .cols-d-480 > .col:first-child:nth-last-child(3) ~ .col {
    width: 33.33333%; }

  .cols-3-480 > .col.w20-480 {
    width: 20%; }

  .cols-3-480 > .col.w25-480 {
    width: 25%; }

  .cols-3-480 > .col.w30-480 {
    width: 30%; }

  .cols-3-480 > .col.w33-480 {
    width: 33.33%; }

  .cols-3-480 > .col.w40-480 {
    width: 40%; }

  .cols-3-480 > .col.w50-480 {
    width: 50%; }

  .cols-3-480 > .col.w60-480 {
    width: 60%; }

  .cols-3-480 > .col.w66-480 {
    width: 66.66%; }

  .cols-3-480 > .col.w70-480 {
    width: 70%; }

  .cols-3-480 > .col.w75-480 {
    width: 75%; }

  .cols-3-480 > .col.w80-480 {
    width: 80%; }

  .cols-3-480 > .col.w100-480 {
    width: 100%; }

  .cols-4-480 > .col,
  .cols-d-480 > .col:first-child:nth-last-child(4),
  .cols-d-480 > .col:first-child:nth-last-child(4) ~ .col {
    width: 25%; }

  .cols-4-480 > .col.w20-480 {
    width: 20%; }

  .cols-4-480 > .col.w25-480 {
    width: 25%; }

  .cols-4-480 > .col.w30-480 {
    width: 30%; }

  .cols-4-480 > .col.w33-480 {
    width: 33.33%; }

  .cols-4-480 > .col.w40-480 {
    width: 40%; }

  .cols-4-480 > .col.w50-480 {
    width: 50%; }

  .cols-4-480 > .col.w60-480 {
    width: 60%; }

  .cols-4-480 > .col.w66-480 {
    width: 66.66%; }

  .cols-4-480 > .col.w70-480 {
    width: 70%; }

  .cols-4-480 > .col.w75-480 {
    width: 75%; }

  .cols-4-480 > .col.w80-480 {
    width: 80%; }

  .cols-4-480 > .col.w100-480 {
    width: 100%; }

  .cols-5-480 > .col,
  .cols-d-480 > .col:first-child:nth-last-child(5),
  .cols-d-480 > .col:first-child:nth-last-child(5) ~ .col {
    width: 20%; }

  .cols-5-480 > .col.w20-480 {
    width: 20%; }

  .cols-5-480 > .col.w25-480 {
    width: 25%; }

  .cols-5-480 > .col.w30-480 {
    width: 30%; }

  .cols-5-480 > .col.w33-480 {
    width: 33.33%; }

  .cols-5-480 > .col.w40-480 {
    width: 40%; }

  .cols-5-480 > .col.w50-480 {
    width: 50%; }

  .cols-5-480 > .col.w60-480 {
    width: 60%; }

  .cols-5-480 > .col.w66-480 {
    width: 66.66%; }

  .cols-5-480 > .col.w70-480 {
    width: 70%; }

  .cols-5-480 > .col.w75-480 {
    width: 75%; }

  .cols-5-480 > .col.w80-480 {
    width: 80%; }

  .cols-5-480 > .col.w100-480 {
    width: 100%; }

  .cols-6-480 > .col,
  .cols-d-480 > .col:first-child:nth-last-child(6),
  .cols-d-480 > .col:first-child:nth-last-child(6) ~ .col {
    width: 16.66667%; }

  .cols-6-480 > .col.w20-480 {
    width: 20%; }

  .cols-6-480 > .col.w25-480 {
    width: 25%; }

  .cols-6-480 > .col.w30-480 {
    width: 30%; }

  .cols-6-480 > .col.w33-480 {
    width: 33.33%; }

  .cols-6-480 > .col.w40-480 {
    width: 40%; }

  .cols-6-480 > .col.w50-480 {
    width: 50%; }

  .cols-6-480 > .col.w60-480 {
    width: 60%; }

  .cols-6-480 > .col.w66-480 {
    width: 66.66%; }

  .cols-6-480 > .col.w70-480 {
    width: 70%; }

  .cols-6-480 > .col.w75-480 {
    width: 75%; }

  .cols-6-480 > .col.w80-480 {
    width: 80%; }

  .cols-6-480 > .col.w100-480 {
    width: 100%; }

  .cols-1-480.cols-m > .col,
  .cols-d-480.cols-m > .col:first-child:nth-last-child(1),
  .cols-d-480.cols-m > .col:first-child:nth-last-child(1) ~ .col {
    width: 100%; }

  .cols-1-480.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-1-480.cols-m > .col.w20-480 {
    width: 20%; }

  .cols-1-480.cols-m > .col.w25-480 {
    width: 25%; }

  .cols-1-480.cols-m > .col.w30-480 {
    width: 30%; }

  .cols-1-480.cols-m > .col.w33-480 {
    width: 33.33%; }

  .cols-1-480.cols-m > .col.w40-480 {
    width: 40%; }

  .cols-1-480.cols-m > .col.w50-480 {
    width: 50%; }

  .cols-1-480.cols-m > .col.w60-480 {
    width: 60%; }

  .cols-1-480.cols-m > .col.w66-480 {
    width: 66.66%; }

  .cols-1-480.cols-m > .col.w70-480 {
    width: 70%; }

  .cols-1-480.cols-m > .col.w75-480 {
    width: 75%; }

  .cols-1-480.cols-m > .col.w80-480 {
    width: 80%; }

  .cols-1-480.cols-m > .col.w100-480 {
    width: 100%; }

  .cols-1-480.cols-m > .col:nth-child(1n+1) {
    margin-left: 0; }

  .cols-2-480.cols-m > .col,
  .cols-d-480.cols-m > .col:first-child:nth-last-child(2),
  .cols-d-480.cols-m > .col:first-child:nth-last-child(2) ~ .col {
    width: 47.91667%; }

  .cols-2-480.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-2-480.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-2-480.cols-m > .col.w20-480 {
    width: 17.91667%; }

  .cols-2-480.cols-m > .col.w25-480 {
    width: 22.91667%; }

  .cols-2-480.cols-m > .col.w30-480 {
    width: 27.91667%; }

  .cols-2-480.cols-m > .col.w33-480 {
    width: 31.24667%; }

  .cols-2-480.cols-m > .col.w40-480 {
    width: 37.91667%; }

  .cols-2-480.cols-m > .col.w50-480 {
    width: 47.91667%; }

  .cols-2-480.cols-m > .col.w60-480 {
    width: 57.91667%; }

  .cols-2-480.cols-m > .col.w66-480 {
    width: 64.57667%; }

  .cols-2-480.cols-m > .col.w70-480 {
    width: 67.91667%; }

  .cols-2-480.cols-m > .col.w75-480 {
    width: 72.91667%; }

  .cols-2-480.cols-m > .col.w80-480 {
    width: 77.91667%; }

  .cols-2-480.cols-m > .col.w100-480 {
    width: 97.91667%; }

  .cols-2-480.cols-m > .col:nth-child(2n+1) {
    margin-left: 0; }

  .cols-3-480.cols-m > .col,
  .cols-d-480.cols-m > .col:first-child:nth-last-child(3),
  .cols-d-480.cols-m > .col:first-child:nth-last-child(3) ~ .col {
    width: 30.55556%; }

  .cols-3-480.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-3-480.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-3-480.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-3-480.cols-m > .col.w20-480 {
    width: 17.22222%; }

  .cols-3-480.cols-m > .col.w25-480 {
    width: 22.22222%; }

  .cols-3-480.cols-m > .col.w30-480 {
    width: 27.22222%; }

  .cols-3-480.cols-m > .col.w33-480 {
    width: 30.55222%; }

  .cols-3-480.cols-m > .col.w40-480 {
    width: 37.22222%; }

  .cols-3-480.cols-m > .col.w50-480 {
    width: 47.22222%; }

  .cols-3-480.cols-m > .col.w60-480 {
    width: 57.22222%; }

  .cols-3-480.cols-m > .col.w66-480 {
    width: 63.88222%; }

  .cols-3-480.cols-m > .col.w70-480 {
    width: 67.22222%; }

  .cols-3-480.cols-m > .col.w75-480 {
    width: 72.22222%; }

  .cols-3-480.cols-m > .col.w80-480 {
    width: 77.22222%; }

  .cols-3-480.cols-m > .col.w100-480 {
    width: 97.22222%; }

  .cols-3-480.cols-m > .col:nth-child(3n+1) {
    margin-left: 0; }

  .cols-4-480.cols-m > .col,
  .cols-d-480.cols-m > .col:first-child:nth-last-child(4),
  .cols-d-480.cols-m > .col:first-child:nth-last-child(4) ~ .col {
    width: 21.875%; }

  .cols-4-480.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-4-480.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-4-480.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-4-480.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-4-480.cols-m > .col.w20-480 {
    width: 16.875%; }

  .cols-4-480.cols-m > .col.w25-480 {
    width: 21.875%; }

  .cols-4-480.cols-m > .col.w30-480 {
    width: 26.875%; }

  .cols-4-480.cols-m > .col.w33-480 {
    width: 30.205%; }

  .cols-4-480.cols-m > .col.w40-480 {
    width: 36.875%; }

  .cols-4-480.cols-m > .col.w50-480 {
    width: 46.875%; }

  .cols-4-480.cols-m > .col.w60-480 {
    width: 56.875%; }

  .cols-4-480.cols-m > .col.w66-480 {
    width: 63.535%; }

  .cols-4-480.cols-m > .col.w70-480 {
    width: 66.875%; }

  .cols-4-480.cols-m > .col.w75-480 {
    width: 71.875%; }

  .cols-4-480.cols-m > .col.w80-480 {
    width: 76.875%; }

  .cols-4-480.cols-m > .col.w100-480 {
    width: 96.875%; }

  .cols-4-480.cols-m > .col:nth-child(4n+1) {
    margin-left: 0; }

  .cols-5-480.cols-m > .col,
  .cols-d-480.cols-m > .col:first-child:nth-last-child(5),
  .cols-d-480.cols-m > .col:first-child:nth-last-child(5) ~ .col {
    width: 16.66667%; }

  .cols-5-480.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-5-480.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-5-480.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-5-480.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-5-480.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-5-480.cols-m > .col.w20-480 {
    width: 16.66667%; }

  .cols-5-480.cols-m > .col.w25-480 {
    width: 21.66667%; }

  .cols-5-480.cols-m > .col.w30-480 {
    width: 26.66667%; }

  .cols-5-480.cols-m > .col.w33-480 {
    width: 29.99667%; }

  .cols-5-480.cols-m > .col.w40-480 {
    width: 36.66667%; }

  .cols-5-480.cols-m > .col.w50-480 {
    width: 46.66667%; }

  .cols-5-480.cols-m > .col.w60-480 {
    width: 56.66667%; }

  .cols-5-480.cols-m > .col.w66-480 {
    width: 63.32667%; }

  .cols-5-480.cols-m > .col.w70-480 {
    width: 66.66667%; }

  .cols-5-480.cols-m > .col.w75-480 {
    width: 71.66667%; }

  .cols-5-480.cols-m > .col.w80-480 {
    width: 76.66667%; }

  .cols-5-480.cols-m > .col.w100-480 {
    width: 96.66667%; }

  .cols-5-480.cols-m > .col:nth-child(5n+1) {
    margin-left: 0; }

  .cols-6-480.cols-m > .col,
  .cols-d-480.cols-m > .col:first-child:nth-last-child(6),
  .cols-d-480.cols-m > .col:first-child:nth-last-child(6) ~ .col {
    width: 13.19444%; }

  .cols-6-480.cols-m > .col:nth-child(1) {
    margin-top: 0; }

  .cols-6-480.cols-m > .col:nth-child(2) {
    margin-top: 0; }

  .cols-6-480.cols-m > .col:nth-child(3) {
    margin-top: 0; }

  .cols-6-480.cols-m > .col:nth-child(4) {
    margin-top: 0; }

  .cols-6-480.cols-m > .col:nth-child(5) {
    margin-top: 0; }

  .cols-6-480.cols-m > .col:nth-child(6) {
    margin-top: 0; }

  .cols-6-480.cols-m > .col.w20-480 {
    width: 16.52778%; }

  .cols-6-480.cols-m > .col.w25-480 {
    width: 21.52778%; }

  .cols-6-480.cols-m > .col.w30-480 {
    width: 26.52778%; }

  .cols-6-480.cols-m > .col.w33-480 {
    width: 29.85778%; }

  .cols-6-480.cols-m > .col.w40-480 {
    width: 36.52778%; }

  .cols-6-480.cols-m > .col.w50-480 {
    width: 46.52778%; }

  .cols-6-480.cols-m > .col.w60-480 {
    width: 56.52778%; }

  .cols-6-480.cols-m > .col.w66-480 {
    width: 63.18778%; }

  .cols-6-480.cols-m > .col.w70-480 {
    width: 66.52778%; }

  .cols-6-480.cols-m > .col.w75-480 {
    width: 71.52778%; }

  .cols-6-480.cols-m > .col.w80-480 {
    width: 76.52778%; }

  .cols-6-480.cols-m > .col.w100-480 {
    width: 96.52778%; }

  .cols-6-480.cols-m > .col:nth-child(6n+1) {
    margin-left: 0; } }
.col {
  min-height: 300px;
  background: gray; }
